{% extends '::base.html.twig' %}

{% block body -%}

<section class="wrapper site-min-height">
  <!-- page start-->
  <ul class="directory-list">
    <li>
      <a href="{{ path('user_new') }}"><button type="button" class="btn btn-info btn-sm">New user</button></a>
    </li>
  </ul>
  <div class="directory-info-row">
    <div class="row">
      {% for entity in entities %}
      <div class="col-md-6 col-sm-6">
        <div class="panel">
          <div class="panel-body">
            <div class="media">
              <a class="pull-left">
                <img class="thumb media-object" src="/bundles/mchcrm/users/{{ entity.photo ? entity.photo : 'empty_user.png' }}" alt="">
              </a>
              <div class="media-body">
                <a class="pull-right" title="Edit" href="{{ path('user_edit', { 'id': entity.id }) }}">
                  <button class="btn btn-primary btn-xs">
                    <i class="fa fa-pencil"></i>
                  </button>
                </a>
                <h4>{{ entity.fullname }}
                  {% if entity.position %}
                  <span class="text-muted small"> - {{ entity.position }}</span>
                  {% endif %}
                </h4>
                <ul class="social-links">
                  {% if entity.twitter %}
                  <li>
                    <a target="_blank" title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="https://twitter.com/{{ entity.twitter }}" data-original-title="Twitter">
                      <i class="fa fa-twitter"></i>
                    </a>
                  </li>
                  {% endif %}
                  {% if entity.linkedin %}
                  <li>
                    <a target="_blank" title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="https://www.linkedin.com/in/{{ entity.linkedin }}" data-original-title="LinkedIn">
                      <i class="fa fa-linkedin"></i>
                    </a>
                  </li>
                  {% endif %}
                  {% if entity.skype %}
                  <li>
                    <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="skype:{{ entity.skype }}?call" data-original-title="Skype">
                      <i class="fa fa-skype"></i>
                    </a>
                  </li>
                  {% endif %}
                </ul>
                <address>
                  {{ entity.address }}<br>
                  {# Dream land, Australia <br> #}
                  {% if entity.phone %}
                  <abbr title="Phone">P:</abbr> {{ entity.phone }}<br>
                  {% endif %}
                  <abbr title="Email">Email:</abbr> <a href="mailto:{{ entity.email }}">{{ entity.email }}</a>
                </address>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  <!-- page end-->
</section>

    {# <h1>User list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Fullname</th>
                <th>Password</th>
                <th>Email</th>
                <th>Rol</th>
                <th>Salt</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('user_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.fullname }}</td>
                <td>{{ entity.password }}</td>
                <td>{{ entity.email }}</td>
                <td>{{ entity.rol }}</td>
                <td>{{ entity.salt }}</td>
                <td>{{ entity.status }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('user_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('user_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('user_new') }}">
                Create a new entry
            </a>
        </li>
      </ul> #}
      {% endblock %}
