{% extends '::base.html.twig' %}

{% block body -%}
<section class="wrapper">

  <div class="row">

    <div class="col-lg-12">
      {{ form_start(form, {'attr': {'role': 'form', 'id': 'mch_contractsbundle_user' }}) }}
      {{ form_errors(form) }}
      <section class="panel">
        <header class="panel-heading">
          New User
        </header>
        <div class="panel-body">
          <div class="form-horizontal">
            <div class="form-group">
              {{ form_label(form.fullname, null, {'label': 'Full Name', 'label_attr': {'class': 'col-lg-2 col-sm-2 control-label' }}
              ) }}
              <div class="col-lg-4">
                {{ form_widget(form.fullname, {'attr': {'class': 'form-control' }}) }}
              </div>
            </div>
            <div class="form-group">
              {{ form_label(form.password, null, {'label': 'Password', 'label_attr': {'class': 'col-lg-2 col-sm-2 control-label' }}
              ) }}
              <div class="col-lg-4">
                {{ form_widget(form.password, {'attr': {'class': 'form-control' }}) }}
              </div>
            </div>
            <div class="form-group">
              {{ form_label(form.email, null, {'label': 'Email', 'label_attr': {'class': 'col-lg-2 col-sm-2 control-label' }}
              ) }}
              <div class="col-lg-4">
                {{ form_widget(form.email, {'attr': {'class': 'form-control' }}) }}
              </div>
            </div>
            <div class="form-group">
              {{ form_label(form.phone, null, {'label': 'Phone', 'label_attr': {'class': 'col-lg-2 col-sm-2 control-label' }}
              ) }}
              <div class="col-lg-4">
                {{ form_widget(form.phone, {'attr': {'class': 'form-control' }}) }}
              </div>
            </div>
            <div class="form-group">
              {{ form_label(form.address, null, {'label': 'Personal Address', 'label_attr': {'class': 'col-lg-2 col-sm-2 control-label' }}
              ) }}
              <div class="col-lg-4">
                {{ form_widget(form.address, {'attr': {'class': 'form-control' }}) }}
              </div>
            </div>
            <div class="form-group">
              {{ form_label(form.position, null, {'label': 'Position', 'label_attr': {'class': 'col-lg-2 col-sm-2 control-label' }}
              ) }}
              <div class="col-lg-4">
                {{ form_widget(form.position, {'attr': {'class': 'form-control' }}) }}
              </div>
            </div>
            <div class="form-group">
              {{ form_label(form.twitter, null, {'label': 'Twitter', 'label_attr': {'class': 'col-lg-2 col-sm-2 control-label' }}
              ) }}
              <div class="col-lg-4">
                {{ form_widget(form.twitter, {'attr': {'class': 'form-control' }}) }}
                <p class="help-block"><i>Twitter ID</i></p>
              </div>
            </div>
            <div class="form-group">
              {{ form_label(form.linkedin, null, {'label': 'LinkedIn', 'label_attr': {'class': 'col-lg-2 col-sm-2 control-label' }}
              ) }}
              <div class="col-lg-4">
                {{ form_widget(form.linkedin, {'attr': {'class': 'form-control' }}) }}
                <p class="help-block"><i>LinkedIn ID</i></p>
              </div>
            </div>
            <div class="form-group">
              {{ form_label(form.skype, null, {'label': 'Skype', 'label_attr': {'class': 'col-lg-2 col-sm-2 control-label' }}
              ) }}
              <div class="col-lg-4">
                {{ form_widget(form.skype, {'attr': {'class': 'form-control' }}) }}
                <p class="help-block"><i>Skype ID</i></p>
              </div>
            </div>
            <div class="form-group">
              {{ form_label(form.photo, null, {'label': 'Photo', 'label_attr': {'class': 'col-lg-2 col-sm-2 control-label' }}
              ) }}
              <div class="col-lg-4">
                {{ form_widget(form.photo) }}
              </div>
            </div>
          </div>
        </div>
      </section>

      <ul class="record_actions">
        <li>
          <a href="{{ path('user') }}">
            <button type="button" class="btn btn-info btn-xs"><i class="fa fa-arrow-left"></i> Back to users list
            </button>
          </a>
        </li>
      </ul>

      {{ form_widget(form.submit, {'label': ' Create User', 'attr': {'class': 'btn btn-danger fa fa-floppy-o' }}) }}

      {{ form_end(form) }}
    </div>
  </div>
</section>
{% endblock %}
