{% extends '::base.html.twig' %}

{% block bodyHeader -%}

<section class="wrapper">

    <div class="row">

        <div class="col-lg-12">

            {% endblock %}

            {% block body -%}

            Welcome to dashboard

            {% endblock %}

            {% block bodyFoot %}

        </div>

    </div>

</section>

{% endblock %}
