.table>tbody>tr>td {
  border-top: none;
}

hr {
  border-top: 1px solid #000;
}

.center-list {
  margin-left: 42%;
}

.table-bordered,
.table-bordered>thead>tr>th,
.table-bordered>tbody>tr>td {
  border: 1px solid #000;
}

blockquote {
  border-left: none;
  font-size: 14px;
}