<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    {# <link rel="stylesheet" href="{{ app.request.schemeAndHttpHost ~ asset('bundles/mchcrm/css/pdfStyle.css') }}"> #}
</head>
<body>
<div id="page-14-maindiv" style="max-width: 1020px; margin: 0 auto;">
    <div id="page-14-central_img"  class="central-page"><img src="{{ app.request.schemeAndHttpHost ~ asset('bundles/mchcrm/img/mountainCove.png') }}"></div>
    <div id="page-14-central_tittle" class="central-page"><h2>BROKER REBATE CERTIFICATION</h2></div>

    <div id="page-14-top_div" style="margin-top: 40px" >
        <div class="page-14-top_subdiv"> <p>Seller: {{ contract.purchaseExp.sellerName }}</p> </div>
        <div class="page-14-top_subdiv" style="margin-left: 200px"> <p>Buyer(s): {{ contract.buyerInformation.buyers1 }}</p> </div>
        <div class="page-14-top_subdiv" style="margin-left: 548px"> <p>Buyer(s): {{ contract.buyerInformation.buyers2 }}</p> </div>
    </div>

    <div id="page-14-top_div_2" style="margin-top: 40px" >
        <div class="page-14-top_subdiv"> <p>Contract Date: {{ contract.date|format('m/d/Y') }}</p> </div>
        <div class="page-14-top_subdiv" style="margin-left: 200px"> <p>Property Address: _____________________________</p> </div>
        <div class="page-14-top_subdiv" style="margin-left: 680px"> <p>_______________________________</p> </div>
    </div>

    <div id="page-14-central_div">

        <div>
            <p>
                This Broker Rebate Certification (this “Certification’) is being provided pursuant to the Purchase Agreement I Contract of Sale / Earnest
                Money Contract (“Contract”) by and between Seller and Buyer(s), for the purchase and sale of the above-referenced Property.
            </p>

            <div>
                <div class="page-14-left"><p>1.</p></div>
                <div class="page-14-rigth">
                    <p>
                        Pursuant to the Contract, the Real Estate Agent/Broker (“Agent/Broker”) will be paid a real estate sales commission
                        (“Commission”) of %+ as described in the Contract upon the closing and funding of the Property. For the purposes of this
                        Certification, the term Commission is intended to include all commissions, incentives and bonuses to be received by Broker in
                        connection with the Contract or from any prior transactions with the Buyer(s).
                    </p>
                </div>
            </div>


            <div>
                <div class="page-14-left"><p>2.</p></div>
                <div class="page-14-rigth">
                    <p>
                        With regard to the Broker Commission, Broker hereby acknowledges and certifies that they (check applicable box):

                    </p>
                </div>
            </div>
            <div id="page-14-central_subdiv">
                <div class="checklist-div"> <img src="img/checkbox.png" class="checklist"/> <p class="page-14-checklist-text"><b>I WILL <u>NOT</u></b> rebate* to the Buyer(s) part or all of the Broker Commission.</p> </div>
                <p class="page-14-checklist-text2">Broker acknowledges and agrees that ~ rebate of any portion of this commission will be made directly to or indirectly on
                    behalf of the Buyer or any other interested and/or related party or used to pay Buyer costs associated with purchase and sale of
                    the above-referenced Property.</p>

                <div class="checklist-div"> <img src="img/checkbox.png" class="checklist"/> <p class="page-14-checklist-text"><b>I WILL</b> rebate* to the Buyer(s) part or all of the Broker Commission.</p> </div>
                <p class="page-14-checklist-text2">Broker acknowledges and agrees to execute a “Broker Rebate Addendum” to the Contract to disclose the terms of such rebate
                    in order to create transparency with regard to how such rebate applies to the purchase and sale of the above-referenced
                    Property.</p>

                <div style="display: inline-block">
                    <div style="display: inline-block; position: absolute"> * </div>

                    <div style="display: inline-block; margin-left: 47px;">Broker acknowledges and agrees to execute a “Broker Rebate Addendum” to the Contract to disclose the terms of such rebate
                        in order to create transparency with regard to how such rebate applies to the purchase and sale of the above-referenced
                        Property.</div>
                </div>
            </div>

            <div>
                <div class="page-14-left"><p>3.</p></div>
                <div class="page-14-rigth">
                    <p>
                        Agent/Broker recognizes that Seller is relying on this Certification as verification of whether or not any rebate of Commission is to
                        take place. A rebate occurring outside of the closing of the purchase and sale of the above-referenced Property does not preclude the
                        Agent/Broker from acknowledging that such a rebate will occur.
                    </p>
                </div>
            </div>

            <div>
                <div class="page-14-left"><p>4.</p></div>
                <div class="page-14-rigth">
                    <p>
                        In the event that a change of circumstance arises where Agent/Broker decides at a later date to rebate to Buyer(s), Agent/Broker
                        agrees to execute a “Commission Rebate Addendum” to the Contract to disclose the terms of such rebate in order to create
                        transparency with regard to how such rebate applies to the purchase and sale of the above-referenced Property and to deliver the
                        Commission Rebate Addendum (executed by Agent/Broker and Buyer(s)) to Seller.
                    </p>
                </div>
            </div>
        </div>

    </div>

    <div id="page-14-bottom_div">
        <p><b>AGENT BROOKERT</b></p>
        <p>{{ contract.brokerInformation.repName }}</p>
        <p style="margin-top: 20px">______________________________________</p>
        <p style="margin-top: -15px">Printed Name</p>
        <p>{{ contract.brokerInformation.companyName }}</p>
        <p style="margin-top: -15px">Date</p>

    </div>
</div>
</body>
</html>

<div class="page-break"></div>