<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    {# <link rel="stylesheet" href="{{ app.request.schemeAndHttpHost ~ asset('bundles/mchcrm/css/pdfStyle.css') }}"> #}
</head>
<body>
<div id="page-16-maindiv" style="max-width: 1020px; margin: 0 auto;">
    <div id="page-16-central_img"  class="central-page"><img src="{{ app.request.schemeAndHttpHost ~ asset('bundles/mchcrm/img/mountainCove.png') }}"></div>
    <div id="page-16-central_tittle" class="central-page"><h2>BUILDER’S REFERRAL INCENTIVES AND CONTRIBUTIONS ADDENDUM</h2></div>

    <div id="page-16-top_div">
        <p>
            This ADDENDUM is attached to and made a part of that Purchase Agreement between Mountain Cove Homes at South Dade, LLC, as
            Seller, and ________________________________________________________________, as Purchaser (the “Purchase Agreement”),
            regarding that parcel of real estate located in MIAMI-DADE County, Florida, briefly described as Lot {{ contract.realPropInf.lot }}, and
            referred to in the Purchase Agreement as the “Lot.” All terms defined in the main text of the Purchase Agreement shall have the same
            meanings used when used in this Addendum This Addendum, together with the Purchase Agreement, constitutes the sole and entire
            agreement between Seller and Buyer with regard to any incentives, allowances, adjustments, credits, discounts, rebates or other
            contributions of any kind or amount (collectively, the “Referral Incentives and Contributions”) made, or to be made, by Seller to Buyer
            in connection with Seller’s referral of Buyer to SELLER’S PREFERRED MORTGAGE LENDER(S) DESCRIBED BELOW
            (“PREFERRED LENDER”) and The Law Office of Alexis Gonzalez P.A., Inc. (“Settlement Agent”), and there are no agreements
            regarding such Referral Incentives and Contributions, whether written or unwritten, expressed or implied, between the parties except as
            set forth in this Addendum. In the event of any conflict between the terms and provisions of this Addendum and the terms and provisions
            of the main text of the Purchase Agreement, the terms and provisions of this Addendum shall control.
        </p>
    </div>

    <div id="page-16-central_div">
        <p>
            Buyer acknowledges that is not required to use The Law Office of Alexis Gonzalez P.A. as Settlement Agent or any Preferred Lender
            (described below) as a condition of Buyer’s purchase of the Property or Buyer’s access to settlement services in connection with the
            purchase of the Property. However, Seller will provide to Buyer either or both of the separate incentives described below, if Buyer meets
            the applicable conditions described below.
        </p>

        <p>
            Therefore, the parties state, acknowledge and agree as follows:
            1. Seller shall provide~ for the benefit of Buyer the Referral Incentives and Contributions listed in Section 2 below, provided that
            Buyer chooses to use PREFERRED LENDER to finance the purchase of the Property, and each and all of the following occur:
        <p class="page-16-marginleft_p">
            a. Buyer applies to PREFERRED LENDER for a mortgage loan to finance the purchase of the Property within ten (10) days
            after the date of this Purchase Agreement;
        </p>
        <p class="page-16-marginleft_p">
            b. Buyer’s loan application is approved by PREFERRED LENDER, and PREFERRED LENDER actually funds the loan and
            finances the purchase of the Property; and
        </p>
        <p class="page-16-marginleft_p">
            c. Buyer closes on the purchase of the Property on or before the Closing Date specified in the Purchase Agreement.
        </p>
        </p>

        <p>
            2. Provided that all of the conditions stated in Section 1 above are satisfied and met in a timely manner, Buyer shall be entitled to
            contributions to closing costs to be paid by Seller in the maximum amount of three percent (3.00%) of the final Purchase Price, provided
            that the total amount of such contributions may not exceed ___________________________________________________________
            ($_________________). The contributions may be used by Buyer to purchase multiple settlement services. Buyer may apply these
            contributions, up to the total amount of three percent (3.00%) of the final Purchase Price (but not to exceed $_________________), in
            full or partial payment of fees charged by the Lender, title insurance premiums, escrow fee or other title company charges, tax
            pre-payments required by the Lender (less any amounts credited to Buyer pursuant to the provision of the Purchase Agreement regarding
            proration of real property taxes, and shown on lines 210 and/or 211 of the HUD-l Settlement Statement), insurance pre-payments
            required by the Lender or other customary closing costs charged by other settlement service providers. No portion of this amount may be
            applied as a credit to, or in partial payment of, the Purchase Price of the Property or disbursed to Buyer.
        </p>

        <p>
            3. Preferred Lender. The preferred lenders relating to this Builder’s Incentive and Contributions Addendum are: American
            Bancshares, Banking Mortgage Services, Corp.
        </p>

        <p>
            4. As a separate incentive to Buyer to use The Law Office Of Alexis Gonzalez P.A., if Buyer uses The Law Office Of Alexis Gonzalez
            P.A. to act as Settlement Agent and closes on the purchase of the Property on or before the Closing Date specified in the Purchase
            Agreement, Buyer shall be entitled to contributions to closing costs to be paid by Seller in the maximum amount of three percent (3.00%)
            of the final Purchase Price, provided that the total amount of such contributions may not exceed
            ___________________________________________________ ($_______________). The contributions may be used by Buyer to
            purchase multiple settlement services. Buyer may apply these contributions, up to the total amount of three percent (3.00%) of the final
            Purchase Price (but not to exceed $________________), in full or partial payment of fees charged by the Lender, title insurance
            premiums, escrow fee or other title company charges, tax pre-payments required by the Lender (less any amounts credited to Buyer
            pursuant to the provision of the Purchase Agreement regarding proration of real property taxes, and shown on lines 210 and/or 211 of the
            HUD-1 Settlement Statement), insurance pre-payments required by the Lender or other customary closing costs charged by other
            settlement service providers. No portion of this amount may be applied as a credit to, or in partial payment of, the Purchase Price of the
            Property or disbursed to Buyer.
        </p>

        <p>
            5. Buyer may receive either or both of the separate referral incentives described above, depending upon whether Buyer meets all of the
            conditions applicable to either or both.
        </p>

        <p>
            IN WITNESS WHEREOF, THE UNDERSIGNED, HAVING READ AND REVIEWED THIS ADDENDUM, HAVE SIGNED THIS
            ADDENDUM ON THE DATE SHOWN BELOW.
        </p>


    </div>

    <div id="page-16-bottom_div">
        <div id="page-16-bottom_div_2"> <p><b>Purchaser: </b></p> </div>
        <div id="page-16-bottom_div_3"> <p><b>Seller:</b></p> </div>
        <div style="margin-top: -10px">
            <div id="page-16-bottom_div_4"> <p>___________________________________________</p> </div>
            <div id="page-16-bottom_div_5"> <p>___________________________________________</p> </div>
        </div>

        <div>
            <div id="page-16-bottom_div_7"> <p><b>Date:</b> _____________________________________</p> </div>
            <div id="page-16-bottom_div_8"> <p><b>Date:</b> _____________________________________</p> </div>
        </div>

        <div id="page-16-bottom_div_9"> <p><b>Purchaser: </b></p> </div>
        <div id="page-16-bottom_div_10"> <p>___________________________________________</p> </div>
        <div id="page-16-bottom_div_11" style="margin-top: 40px"> <p><b>Date:</b> _____________________________________</p> </div>
    </div>
</div>
</body>
</html>

<div class="page-break"></div>