{% extends '::base.html.twig' %}

{% block bodyHeader -%}

<section class="wrapper">

    <div class="row">

        <div class="col-lg-12">

            {% endblock %}

            {% block body -%}

            {{ form_start(edit_form, {'attr': {'role': 'form', 'id': 'mch_contractsbundle_contract' }}) }}
            {{ form_errors(edit_form) }}
            {% block form_row %}

            <section class="panel">
                <div class="panel-body">
                    <div class="col-lg-2">
                        {{ form_label(edit_form.date, null, {'label': 'Contract Date'}) }}
                        {{ form_widget(edit_form.date, {'attr': {'class': 'form-control', 'readonly': true }}
                        ) }}
                    </div>
                </div>
            </section>

            <section class="panel">

                <header class="panel-heading">
                    Buyer(s) Information
                </header>

                <div class="panel-body">

                    <div class="form-horizontal">

                        <div class="form-group">
                            {{ form_label(edit_form.buyerInformation.buyers1, null, {'label': 'Buyer 1', 'label_attr': {'class': 'col-lg-2 col-sm-2 control-label' }}
                            ) }}
                            <div class="col-lg-4">
                                {{ form_widget(edit_form.buyerInformation.buyers1, {'attr': {'class': 'form-control' }}) }}
                            </div>
                        </div>
                        <div class="form-group">
                            {{ form_label(edit_form.buyerInformation.buyers2, null, {'label': 'Buyer 2', 'label_attr': {'class': 'col-lg-2 col-sm-2 control-label' }}
                            ) }}
                            <div class="col-lg-4">
                                {{ form_widget(edit_form.buyerInformation.buyers2, {'attr': {'class': 'form-control' }}) }}
                            </div>
                        </div>
                        <div class="form-group">
                            {{ form_label(edit_form.buyerInformation.buyersCurrentAddress, null, {'label': 'Current Address', 'label_attr': {'class': 'col-lg-2 col-sm-2 control-label' }}
                            ) }}
                            <div class="col-lg-4">
                                {{ form_widget(edit_form.buyerInformation.buyersCurrentAddress, {'attr': {'class': 'form-control' }}
                                ) }}
                            </div>
                        </div>
                        <div class="form-group">
                            {{ form_label(edit_form.buyerInformation.email, null, {'label': 'Email Address', 'label_attr': {'class': 'col-lg-2 col-sm-2 control-label' }}
                            ) }}
                            <div class="col-lg-4">
                                <div class="input-group">
                                    <span class="input-group-addon">@</span>
                                    {{ form_widget(edit_form.buyerInformation.email, {'attr': {'class': 'form-control' }}) }}
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            {{ form_label(edit_form.buyerInformation.homePhone, null, {'label': 'Home Phone', 'label_attr': {'class': 'col-lg-2 col-sm-2 control-label' }}
                            ) }}
                            <div class="col-lg-4">
                                {{ form_widget(edit_form.buyerInformation.homePhone, {'attr': {'class': 'form-control', 'data-mask': '(999) 999-9999' }}
                                ) }}
                            </div>
                        </div>
                        <div class="form-group">
                            {{ form_label(edit_form.buyerInformation.mobilePhone, null, {'label': 'Mobile Phone', 'label_attr': {'class': 'col-lg-2 col-sm-2 control-label' }}
                            ) }}
                            <div class="col-lg-4">
                                {{ form_widget(edit_form.buyerInformation.mobilePhone, {'attr': {'class': 'form-control', 'data-mask': '(999) 999-9999' }}
                                ) }}
                            </div>
                        </div>
                        <div class="form-group">
                            {{ form_label(edit_form.buyerInformation.workPhone, null, {'label': 'Work Phone', 'label_attr': {'class': 'col-lg-2 col-sm-2 control-label' }}
                            ) }}
                            <div class="col-lg-4">
                                {{ form_widget(edit_form.buyerInformation.workPhone, {'attr': {'class': 'form-control', 'data-mask': '(999) 999-9999' }}
                                ) }}
                            </div>
                        </div>
                        <div class="form-group">
                            {{ form_label(edit_form.buyerInformation.maritalStatus, null, {'label': 'Marital Status', 'label_attr': {'class': 'col-lg-2 col-sm-2 control-label' }}
                            ) }}
                            <div class="col-lg-4">
                                {{ form_widget(edit_form.buyerInformation.maritalStatus, {'attr': {'class': 'form-control' }}) }}
                            </div>
                        </div>

                        {# EDIT ALL BELOW THIS LINE #}


                    </div>

                </div>

                {# {{ form(form) }} #}

            </section>

            <section class="panel">

                <header class="panel-heading">
                    Real Property Information
                </header>

                <div class="panel-body">

                    <div class="form-horizontal">

                        <div class="form-group">
                            {{ form_label(edit_form.realPropInf.salesRep, null, {'label': 'Sales Representative', 'label_attr': {'class': 'col-lg-2 col-sm-2 control-label' }}
                            ) }}
                            <div class="col-lg-4">
                                {{ form_widget(edit_form.realPropInf.salesRep, {'attr': {'class': 'form-control', 'readonly': true }}) }}
                            </div>
                        </div>
                        <h3>Real Property</h3>

                        <div class="well">
                            <div class="form-group">
                                {{ form_label(edit_form.realPropInf.streetAddress, null, {'label': 'Street Address', 'label_attr': {'class': 'col-lg-2 col-sm-2 control-label' }}
                                ) }}
                                <div class="col-lg-4">
                                    {{ form_widget(edit_form.realPropInf.streetAddress, {'attr': {'class': 'form-control' }}) }}
                                </div>
                            </div>
                            <div class="form-group">
                                {{ form_label(edit_form.realPropInf.lot, null, {'label': 'Lot', 'label_attr': {'class': 'col-lg-2 col-sm-2 control-label' }}
                                ) }}
                                <div class="col-lg-4">
                                    {{ form_widget(edit_form.realPropInf.lot, {'attr': {'class': 'form-control' }}) }}
                                </div>
                            </div>
                            <div class="form-group">
                                {{ form_label(edit_form.realPropInf.block, null, {'label': 'Block', 'label_attr': {'class': 'col-lg-2 col-sm-2 control-label' }}
                                ) }}
                                <div class="col-lg-4">
                                    {{ form_widget(edit_form.realPropInf.block, {'attr': {'class': 'form-control' }}) }}
                                </div>
                            </div>
                            <div class="form-group">
                                {{ form_label(edit_form.realPropInf.subdivision, null, {'label': 'Subdivision', 'label_attr': {'class': 'col-lg-2 col-sm-2 control-label' }}
                                ) }}
                                <div class="col-lg-4">
                                    {{ form_widget(edit_form.realPropInf.subdivision, {'attr': {'class': 'form-control' }}) }}
                                </div>
                            </div>
                            <div class="form-group">
                                {{ form_label(edit_form.realPropInf.platBook, null, {'label': 'Plat Book Number', 'label_attr': {'class': 'col-lg-2 col-sm-2 control-label' }}
                                ) }}
                                <div class="col-lg-4">
                                    {{ form_widget(edit_form.realPropInf.platBook, {'attr': {'class': 'form-control' }}) }}
                                </div>
                            </div>
                            <div class="form-group">
                                {{ form_label(edit_form.realPropInf.platBookPage, null, {'label': 'Plat Book Page(s)', 'label_attr': {'class': 'col-lg-2 col-sm-2 control-label' }}
                                ) }}
                                <div class="col-lg-4">
                                    {{ form_widget(edit_form.realPropInf.platBookPage, {'attr': {'class': 'form-control' }}) }}
                                </div>
                            </div>
                            <div class="form-group">
                                {{ form_label(edit_form.realPropInf.county, null, {'label': 'County', 'label_attr': {'class': 'col-lg-2 col-sm-2 control-label' }}
                                ) }}
                                <div class="col-lg-4">
                                    {{ form_widget(edit_form.realPropInf.county, {'attr': {'class': 'form-control' }}) }}
                                </div>
                            </div>
                        </div>
                        <h3>Construction</h3>

                        <div class="well">
                            <div class="form-group">
                                {{ form_label(edit_form.realPropInf.mchCommunity, null, {'label': 'MCH Community', 'label_attr': {'class': 'col-lg-2 col-sm-2 control-label' }}
                                ) }}
                                <div class="col-lg-4">
                                    {{ form_widget(edit_form.realPropInf.mchCommunity, {'attr': {'class': 'form-control' }}) }}
                                </div>
                            </div>
                            <div class="form-group">
                                {{ form_label(edit_form.realPropInf.model, null, {'label': 'Model', 'label_attr': {'class': 'col-lg-2 col-sm-2 control-label' }}
                                ) }}
                                <div class="col-lg-4">
                                    {{ form_widget(edit_form.realPropInf.model, {'attr': {'class': 'form-control' }}) }}
                                </div>
                            </div>
                            <div class="form-group">
                                {{ form_label(edit_form.realPropInf.elevation, null, {'label': 'Elevation', 'label_attr': {'class': 'col-lg-2 col-sm-2 control-label' }}
                                ) }}
                                <div class="col-lg-4">
                                    {{ form_widget(edit_form.realPropInf.elevation, {'attr': {'class': 'form-control' }}) }}
                                </div>
                            </div>
                            <div class="form-group">
                                {{ form_label(edit_form.realPropInf.garageOr, null, {'label': 'Garage Orientation', 'label_attr': {'class': 'col-lg-2 col-sm-2 control-label' }}
                                ) }}
                                <div class="col-lg-4">
                                    {% for garageOr in edit_form.realPropInf.garageOr %}
                                    <div class="radio-inline">
                                        {{ form_widget(garageOr) }}
                                        {{ form_label(garageOr) }}
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>

                    </div>

                </div>

            </section>

            <section class="panel">

                <header class="panel-heading">
                    Purchase Explanation
                </header>

                <div class="panel-body">

                    <div class="form-horizontal">

                        <div class="form-group">
                            {{ form_label(edit_form.purchaseExp.estClosingDate, null, {'label': 'Estimated Closing Date', 'label_attr': {'class': 'col-lg-2 col-sm-2 control-label' }}
                            ) }}
                            <div class="col-lg-4">
                                {{ form_widget(edit_form.purchaseExp.estClosingDate, {'attr': {'class': 'form-control default-date-picker', 'data-mask': '99/99/9999' }}
                                ) }}
                            </div>
                        </div>
                        <div class="form-group">
                            {{ form_label(edit_form.purchaseExp.sellerName, null, {'label': 'Seller Name', 'label_attr': {'class': 'col-lg-2 col-sm-2 control-label' }}
                            ) }}
                            <div class="col-lg-4">
                                {{ form_widget(edit_form.purchaseExp.sellerName, {'attr': {'class': 'form-control' }}) }}
                            </div>
                        </div>
                        <div class="form-group">
                            {{ form_label(edit_form.purchaseExp.basePrice, null, {'label': 'Base Price', 'label_attr': {'class': 'col-lg-2 col-sm-2 control-label' }}
                            ) }}
                            <div class="col-lg-4">
                                <div class="input-group">
                                    <span class="input-group-addon">$</span>
                                    {{ form_widget(edit_form.purchaseExp.basePrice, {'attr': {'class': 'form-control purchase_explanation_price' }}) }}
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            {{ form_label(edit_form.purchaseExp.lotPremium, null, {'label': 'Lot Premium', 'label_attr': {'class': 'col-lg-2 col-sm-2 control-label' }}
                            ) }}
                            <div class="col-lg-4">
                                <div class="input-group">
                                    <span class="input-group-addon">$</span>
                                    {{ form_widget(edit_form.purchaseExp.lotPremium, {'attr': {'class': 'form-control purchase_explanation_price' }}) }}
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            {{ form_label(edit_form.purchaseExp.options, null, {'label': 'Options', 'label_attr': {'class': 'col-lg-2 col-sm-2 control-label' }}
                            ) }}
                            <div class="col-lg-4">
                                <div class="input-group">
                                    <span class="input-group-addon">$</span>
                                    {{ form_widget(edit_form.purchaseExp.options, {'attr': {'class': 'form-control purchase_explanation_price' }}) }}
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            {{ form_label(edit_form.purchaseExp.basePriceIncentive, null, {'label': 'Base Price Incentive', 'label_attr': {'class': 'col-lg-2 col-sm-2 control-label' }}
                            ) }}
                            <div class="col-lg-4">
                                <div class="input-group">
                                    <span class="input-group-addon">$</span>
                                    {{ form_widget(edit_form.purchaseExp.basePriceIncentive, {'attr': {'class': 'form-control purchase_explanation_price' }}
                                    ) }}
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            {{ form_label(edit_form.purchaseExp.lotPremiumIncentive, null, {'label': 'Lot Premium Incentive', 'label_attr': {'class': 'col-lg-2 col-sm-2 control-label' }}
                            ) }}
                            <div class="col-lg-4">
                                <div class="input-group">
                                    <span class="input-group-addon">$</span>
                                    {{ form_widget(edit_form.purchaseExp.lotPremiumIncentive, {'attr': {'class': 'form-control purchase_explanation_price' }}
                                    ) }}
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            {{ form_label(edit_form.purchaseExp.optionIncentive, null, {'label': 'Option Incentive', 'label_attr': {'class': 'col-lg-2 col-sm-2 control-label' }}
                            ) }}
                            <div class="col-lg-4">
                                <div class="input-group">
                                    <span class="input-group-addon">$</span>
                                    {{ form_widget(edit_form.purchaseExp.optionIncentive, {'attr': {'class': 'form-control purchase_explanation_price' }})
                                }}
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form_label(edit_form.purchaseExp.totalSalesPrice, null, {'label': 'Total Sales Price', 'label_attr': {'class': 'col-lg-2 col-sm-2 control-label' }}
                        ) }}
                        <div class="col-lg-4">
                            <div class="input-group">
                                <span class="input-group-addon">$</span>
                                {{ form_widget(edit_form.purchaseExp.totalSalesPrice, {'attr': {'class': 'form-control', 'readonly': ''}})
                            }}
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </section>

    <section class="panel">
        <header class="panel-heading">
            Explanation of Deposits
        </header>

        <div class="panel-body">

            <h3 class="text-center">Table of Deposits</h3>

            <div class="adv-table editable-table ">
                <div class="clearfix">
                    <div class="btn-group">
                        <button id="editable-sample_new" class="btn green">
                            Add Check <i class="fa fa-plus"></i>
                        </button>
                    </div>
                </div>
                <br/>

                <div id="editable-sample_wrapper" class="dataTables_wrapper form-inline" role="grid">
                    <table class="table table-striped table-hover table-bordered dataTable" id="editable-sample"
                    aria-describedby="editable-sample_info">
                    <thead>
                        <tr role="row">
                            <th class="sorting_disabled" role="columnheader" rowspan="1" colspan="1">Date
                                Collected
                            </th>
                            <th class="sorting_disabled" role="columnheader" rowspan="1" colspan="1">Payment Type
                            </th>
                            <th class="sorting_disabled" role="columnheader" rowspan="1" colspan="1">Check Number
                            </th>
                            <th class="sorting_disabled" role="columnheader" rowspan="1" colspan="1">Amount</th>
                            <th class="sorting_disabled" role="columnheader" rowspan="1" colspan="1">For</th>
                            {# <th class="sorting_disabled" role="columnheader" rowspan="1" colspan="1">Check Made Out To
                            </th> #}
                            <th class="sorting_disabled" role="columnheader" rowspan="1" colspan="1">Save</th>
                            <th class="sorting_disabled" role="columnheader" rowspan="1" colspan="1">Delete</th>
                        </tr>
                    </thead>

                    <tbody role="alert" aria-live="polite" aria-relevant="all">

                        {% for td in tableOfDeposits %}
                        <tr class="odd">
                            <td class>{{ td.dateCollected }}</td>
                            <td class>{{ td.paymentType }}</td>
                            <td class>{{ td.checkNumber }}</td>
                            <td class>{{ td.amount }}</td>
                            <td class>{{ td.for }}</td>
                            {# <td class>{{ td.checkMadeOutTo }}</td> #}
                            <td class><a class="edit" href="" id="{{ loop.index - 1 }}">Edit</a></td>
                            <td class><a class="delete" id="{{ loop.index - 1 }}" href="">Delete</a></td></tr>
                            {% endfor %}

                        </tbody>
                    </table>
                </div>
            </div>
            <input hidden="true" id="count" name="count" value="{{ tableOfDeposits|length }}">
            {# FIELDS BELOW HERE #}
            <div class="form-horizontal">

                <div class="form-group">
                    {{ form_label(edit_form.explanationDep.checksMadeOutTo, null, {'label': 'Checks Made Out To', 'label_attr': {'class': 'col-lg-2 col-sm-2 control-label' }}
                    ) }}
                    <div class="col-lg-4">
                        {% for checksMadeOutTo in edit_form.explanationDep.checksMadeOutTo %}
                        <div class="radio">
                            {{ form_widget(checksMadeOutTo) }}
                            {{ form_label(checksMadeOutTo) }}
                        </div>
                        {% endfor %}
                    </div>
                </div>

                <div class="form-group">
                    {{ form_label(edit_form.explanationDep.percentOfDeposit, null, {'label': 'Percent of Deposit', 'label_attr': {'class': 'col-lg-2 col-sm-2 control-label' }}
                    ) }}
                    <div class="col-lg-4">
                        <div class="input-group">
                            {{ form_widget(edit_form.explanationDep.percentOfDeposit, {'attr': {'class': 'form-control' }}
                            )
                        }}
                        <span class="input-group-addon">%</span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                {{ form_label(edit_form.explanationDep.mortagePrincipal, null, {'label': 'Mortage Principal', 'label_attr': {'class': 'col-lg-2 col-sm-2 control-label' }}
                ) }}
                <div class="col-lg-4">
                    {{ form_widget(edit_form.explanationDep.mortagePrincipal, {'attr': {'class': 'form-control' }})
                }}
            </div>
        </div>
        <div class="form-group">
            {{ form_label(edit_form.explanationDep.abaNumber, null, {'label': 'ABA Number', 'label_attr': {'class': 'col-lg-2 col-sm-2 control-label' }}
            ) }}
            <div class="col-lg-4">
                {{ form_widget(edit_form.explanationDep.abaNumber, {'attr': {'class': 'form-control' }}) }}
            </div>
        </div>
        <div class="form-group">
            {{ form_label(edit_form.explanationDep.jobNumber, null, {'label': 'Job Number (if any)', 'label_attr': {'class': 'col-lg-2 col-sm-2 control-label' }}
            ) }}
            <div class="col-lg-4">
                {{ form_widget(edit_form.explanationDep.jobNumber, {'attr': {'class': 'form-control' }}) }}
            </div>
        </div>

    </div>
</div>

</section>

<section class="panel">
    <header class="panel-heading">
        Broker Information
    </header>

    <div class="panel-body">

        <div class="form-horizontal">

            <div class="form-group">
                {{ form_label(edit_form.brokerInformation.realtorInSale, null, {'label': 'Is a realtor/broker participating in the sale? Yes/No', 'label_attr': {'class': 'col-lg-2 col-sm-2 control-label' }}
                ) }}
                <div class="col-lg-4">
                    {% for realtorInSale in edit_form.brokerInformation.realtorInSale %}
                    <div class="radio-inline">
                        {{ form_widget(realtorInSale) }}
                        {{ form_label(realtorInSale) }}
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div id="broker_info">
                <div class="form-group">
                    {{ form_label(edit_form.brokerInformation.companyName, null, {'label': 'Company Name', 'label_attr': {'class': 'col-lg-2 col-sm-2 control-label' }}
                    ) }}
                    <div class="col-lg-4">
                        {{ form_widget(edit_form.brokerInformation.companyName, {'attr': {'class': 'form-control' }}) }}
                    </div>
                </div>
                <div class="form-group">
                    {{ form_label(edit_form.brokerInformation.repName, null, {'label': 'Representative\'s Name', 'label_attr': {'class': 'col-lg-2 col-sm-2 control-label' }}
                    ) }}
                    <div class="col-lg-4">
                        {{ form_widget(edit_form.brokerInformation.repName, {'attr': {'class': 'form-control' }}) }}
                    </div>
                </div>
                <div class="form-group">
                    {{ form_label(edit_form.brokerInformation.address, null, {'label': 'Address', 'label_attr': {'class': 'col-lg-2 col-sm-2 control-label' }}
                    ) }}
                    <div class="col-lg-4">
                        {{ form_widget(edit_form.brokerInformation.address, {'attr': {'class': 'form-control' }}) }}
                    </div>
                </div>
                <div class="form-group">
                    {{ form_label(edit_form.brokerInformation.telephone, null, {'label': 'Telephone', 'label_attr': {'class': 'col-lg-2 col-sm-2 control-label' }}
                    ) }}
                    <div class="col-lg-4">
                        {{ form_widget(edit_form.brokerInformation.telephone, {'attr': {'class': 'form-control', 'data-mask': '(999) 999-9999' }}
                        ) }}
                    </div>
                </div>
                <div class="form-group">
                    {{ form_label(edit_form.brokerInformation.commisionRate, null, {'label': 'Commission Rate', 'label_attr': {'class': 'col-lg-2 col-sm-2 control-label' }}
                    ) }}
                    <div class="col-lg-4">
                        <div class="input-group">

                            {{ form_widget(edit_form.brokerInformation.commisionRate, {'attr': {'class': 'form-control' }}
                            ) }}
                            <span class="input-group-addon">%</span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    {{ form_label(edit_form.brokerInformation.bonusAmount, null, {'label': 'Bonus Amount (if any)', 'label_attr': {'class': 'col-lg-2 col-sm-2 control-label' }}
                    ) }}
                    <div class="col-lg-4">
                        {{ form_widget(edit_form.brokerInformation.bonusAmount, {'attr': {'class': 'form-control' }}) }}
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-12">
                        <p>
                            With regard to the Broker Commission, Broker hereby acknowledges and certifies that they (check applicable box):
                        </p>
                        {% for brokerRebate in edit_form.brokerInformation.brokerRebate %}
                        <div>
                            {{ form_widget(brokerRebate) }}
                            {{ form_label(brokerRebate, null, {'label_attr': {'style': 'font-weight: bold;' }}) }} rebate* to the Buyer(s) part or all of the Broker Commission
                        </div>
                        {% if loop.first %}
                        <p>
                            Broker acknowledges and agrees to execute a “Broker Rebate Addendum” to the Contract to disclose the terms of such rebate in order to create transparency with regard to how such rebate applies to the purchase and sale of the above-referenced Property.
                        </p>
                        {% else %}
                        <p>
                            Broker acknowledges and agrees that ~ rebate of any portion of this commission will be made directly to or indirectly on behalf of the Buyer or any other interested and/or related party or used to pay Buyer costs associated with purchase and sale of the above-referenced Property.
                        </p>
                        {% endif %}
                        {% endfor %}
                        <p>
                            <i>* The term “rebate” is intended to include any incentive related to the purchase and sale of the above-referenced Properly, including but not limited to: a cash rebate, credit rebate of closing costs, buy-out of a lease or related borrower financial obligation, purchase of appliances or related merchandise, prizes and/or trips.</i>
                        </p>
                    </div>
                </div>
            </div>

        </div>

    </div>

</section>

{# FROM HERE BELOW THIS SECTIONS ARE JUST PLACE HOLDERS FOR THE LAST THREE TABLES TO CREATE #}

<section class="panel">

    <header class="panel-heading">
        Incetives and Contributions
    </header>

    <div class="panel-body">

        <div class="form-horizontal">
            <div class="well">
                <div class="form-group">
                    <input id="closingCostIncentiveAmountRadio" name="closingCostIncentiveRadio" value="closingCostIncentiveAmountRadio" class="col-lg-1" style="width: 30px" type="radio" checked
                    onclick="$('#mch_contractsbundle_contract_incentivesContributions_closingCostIncentiveAmount').removeAttr('readonly');
                    $('#mch_contractsbundle_contract_incentivesContributions_closingCostIncentivePercentage').attr('readonly', true);">
                    {{ form_label(edit_form.incentivesContributions.closingCostIncentiveAmount, null, {'label': 'Closing Cost Incentive Amount', 'label_attr': {'class': 'col-lg-2 col-sm-2 control-label' }}
                    ) }}
                    <div class="col-lg-4">
                        {{ form_widget(edit_form.incentivesContributions.closingCostIncentiveAmount, {'attr': {'class': 'form-control closing-cost' }}
                        ) }}
                    </div>
                </div>
                <div class="form-group">
                    <input id="closingCostIncentivePercentageRadio" name="closingCostIncentiveRadio" value="closingCostIncentivePercentageRadio" class="col-lg-1" style="width: 30px" type="radio"
                    onclick="$('#mch_contractsbundle_contract_incentivesContributions_closingCostIncentivePercentage').removeAttr('readonly');
                    $('#mch_contractsbundle_contract_incentivesContributions_closingCostIncentiveAmount').attr('readonly', true);">
                    {{ form_label(edit_form.incentivesContributions.closingCostIncentivePercentage, null, {'label': 'Closing Cost Incentive Percentage', 'label_attr': {'class': 'col-lg-2 col-sm-2 control-label' }}
                    ) }}
                    <div class="col-lg-4">
                        {{ form_widget(edit_form.incentivesContributions.closingCostIncentivePercentage, {'attr': {'class': 'form-control closing-cost', 'readonly': true }}
                        ) }}
                    </div>
                </div>
            </div>
            <div class="well">
                <div class="form-group">
                    <input id="titleAndSettlementIncentiveAmountRadio" name="titleAndSettlementIncentiveRadio" value="titleAndSettlementIncentiveAmountRadio" class="col-lg-1" style="width: 30px" type="radio" checked
                    onclick="$('#mch_contractsbundle_contract_incentivesContributions_titleAndSettlementIncentiveAmount').removeAttr('readonly');
                    $('#mch_contractsbundle_contract_incentivesContributions_titleAndSettlementIncentivePercentage').attr('readonly', true);">
                    {{ form_label(edit_form.incentivesContributions.titleAndSettlementIncentiveAmount, null, {'label': 'Title and Settlement Incentive Amount', 'label_attr': {'class': 'col-lg-2 col-sm-2 control-label' }}
                    ) }}
                    <div class="col-lg-4">
                        {{ form_widget(edit_form.incentivesContributions.titleAndSettlementIncentiveAmount, {'attr': {'class': 'form-control title-settlement' }}
                        ) }}
                    </div>
                </div>
                <div class="form-group">
                    <input id="titleAndSettlementIncentivePercentageRadio" name="titleAndSettlementIncentiveRadio" value="titleAndSettlementIncentivePercentageRadio" class="col-lg-1" style="width: 30px" type="radio"
                    onclick="$('#mch_contractsbundle_contract_incentivesContributions_titleAndSettlementIncentivePercentage').removeAttr('readonly');
                    $('#mch_contractsbundle_contract_incentivesContributions_titleAndSettlementIncentiveAmount').attr('readonly', true);">
                    {{ form_label(edit_form.incentivesContributions.titleAndSettlementIncentivePercentage, null, {'label': 'Title and Settlement Incentive Percentage', 'label_attr': {'class': 'col-lg-2 col-sm-2 control-label' }}
                    ) }}
                    <div class="col-lg-4">
                        {{ form_widget(edit_form.incentivesContributions.titleAndSettlementIncentivePercentage, {'attr': {'class': 'form-control title-settlement', 'readonly': true }}
                        ) }}
                    </div>
                </div>
            </div>

        </div>


    </div>

</section>

<section class="panel">

    <header class="panel-heading">
        Addendum to Modify
    </header>

    <div class="panel-body">

        <div class="form-horizontal">

            <div class="form-group">
                {# {{ form_label(edit_form.addendumToModify.text, null, {'label': 'Title and Settlement Incentive Percentage', 'label_attr': {'class': 'col-lg-2 col-sm-2 control-label'}}) }} #}
                <div class="col-lg-12">
                    {{ form_widget(edit_form.addendumToModify.text, {'attr': {'class': 'form-control', 'rows': 5 }})
                }}
            </div>
        </div>

    </div>

</div>

</section>

<section class="panel">

    <header class="panel-heading">
        Receipt of Documents
    </header>

    <div class="panel-body">

        <div class="form-horizontal">

            <div class="form-group">

                {# DINAMIC INPUT FIELD CODE GOES HERE INSIDE #}


                <div class="col-lg-4" id="InputsWrapper">
                    <div style="padding-bottom: 10px;">

                        {% for d in documents %}
                        <div style="padding-bottom: 10px;" class="input-group"><input class="form-control" type="text" name="documents[]" id="field_{{ loop.index }}" value="{{ d }}"/><a href="#" class="removeclass input-group-addon">&times;</a></div>
                        {% endfor %}
                        {# <a href="#" class="removeclass">×</a> #}

                    </div>
                </div>
                <div style="clear:both"></div>
                <div class="col-lg-4">
                    <span><a href="#" id="AddMoreFileBox" class="btn btn-info">Add more <i
                        class="fa fa-plus-square"></i></a></span>
                    </div>

                </div>

            </div>

        </div>

    </section>

    <ul class="record_actions" style="padding-bottom: 20px;">
        <li>
            <a href="{{ path('contract') }}">
                <button type="button" class="btn btn-info btn-xs"><i class="fa fa-arrow-left"></i> Back to the list
                </button>
            </a>
        </li>
    </ul>

    {{ form_widget(edit_form.submit, {'label': ' Update Contract', 'attr': {'class': 'btn btn-danger fa fa-floppy-o' }}) }}

    {% endblock form_row %}

    {% for td in tableOfDeposits %}
    <input type="hidden" name="deposits[{{ loop.index - 1 }}][date_collected]" value="{{ td.dateCollected }}" class="deposits{{ loop.index - 1 }}">
    <input type="hidden" name="deposits[{{ loop.index - 1 }}][payment_type]" value="{{ td.paymentType }}" class="deposits{{ loop.index - 1 }}">
    <input type="hidden" name="deposits[{{ loop.index - 1 }}][check_number]" value="{{ td.checkNumber }}" class="deposits{{ loop.index - 1 }}">
    <input type="hidden" name="deposits[{{ loop.index - 1 }}][amount]" value="{{ td.amount }}" class="deposits{{ loop.index - 1 }}">
    <input type="hidden" name="deposits[{{ loop.index - 1 }}][for_]" value="{{ td.for }}" class="deposits{{ loop.index - 1 }}">
    {# <input type="hidden" name="deposits[{{ loop.index - 1 }}][check_made_out_to]" value="{{ td.checkMadeOutTo }}" class="deposits{{ loop.index - 1 }}"> #}
    {% endfor %}

    {{ form_end(edit_form) }}

    {% endblock %}

    {% block bodyFoot %}

</div>

</div>

</section>

<script src="{{ asset('bundles/mchcrm/js/jquery-1.8.3.min.js') }}"></script>

<script>
    $("#mch_contractsbundle_contract_realPropInf_mchCommunity").change(function () {
        $("#mch_contractsbundle_contract_realPropInf_model").empty();
        $.getJSON('/contract/modelCommunityAjax/' + $("#mch_contractsbundle_contract_realPropInf_mchCommunity").val(), null, function (data) {
            $.each(data, function (i, item) {
                    // Create and append the new options into the select list
                    $("#mch_contractsbundle_contract_realPropInf_model").append("<option value=" + item.id + ">" + item.value + "</option>");
                });
        });
    });

    $(document).ready(function () {
        $("#broker_info :input").attr("disabled", true);
        $("#mch_contractsbundle_contract_brokerInformation_realtorInSale_0").click(function() {
            $("#broker_info :input").attr("required", true);
            $("#broker_info :input").removeAttr("disabled");
        });
        $("#mch_contractsbundle_contract_brokerInformation_realtorInSale_1").click(function() {
            $("#broker_info :input").val('');
            $("#broker_info :input").attr("disabled", true);
            $("#broker_info :input").removeAttr("required");
        });

        $(".purchase_explanation_price, .closing-cost, .title-settlement").keypress(function (e) {
            // {0-9} {.} {Backspace} {TAB}
            if ((e.which < 48 || e.which > 57) && e.which != 46 && e.keyCode != 8 && e.keyCode != 9) {
                e.preventDefault();
            }

            // Prevent multiple {.}
            if (e.which == 46 && $(this).val().indexOf('.') >= 0) {
                e.preventDefault();
            }
        });

        $(".purchase_explanation_price").keyup(function (e) {
            var base = $("#mch_contractsbundle_contract_purchaseExp_basePrice").val() ? $("#mch_contractsbundle_contract_purchaseExp_basePrice").val() : 0;
            var lot = $("#mch_contractsbundle_contract_purchaseExp_lotPremium").val() ? $("#mch_contractsbundle_contract_purchaseExp_lotPremium").val() : 0;
            var option = $("#mch_contractsbundle_contract_purchaseExp_options").val() ? $("#mch_contractsbundle_contract_purchaseExp_options").val() : 0;
            var base_incentive = $("#mch_contractsbundle_contract_purchaseExp_basePriceIncentive").val() ? $("#mch_contractsbundle_contract_purchaseExp_basePriceIncentive").val() : 0;
            var lot_incentive = $("#mch_contractsbundle_contract_purchaseExp_lotPremiumIncentive").val() ? $("#mch_contractsbundle_contract_purchaseExp_lotPremiumIncentive").val() : 0;
            var option_incentive = $("#mch_contractsbundle_contract_purchaseExp_optionIncentive").val() ? $("#mch_contractsbundle_contract_purchaseExp_optionIncentive").val() : 0;
            var total = parseFloat(base) + parseFloat(lot) + parseFloat(option) - parseFloat(base_incentive) - parseFloat(lot_incentive) - parseFloat(option_incentive);

            $("#mch_contractsbundle_contract_purchaseExp_totalSalesPrice").val(total);
        });

$("#mch_contractsbundle_contract_incentivesContributions_closingCostIncentiveAmount").keyup(function (e) {
    var amount = $("#mch_contractsbundle_contract_incentivesContributions_closingCostIncentiveAmount").val() ? $("#mch_contractsbundle_contract_incentivesContributions_closingCostIncentiveAmount").val() : 0;
    var total = $("#mch_contractsbundle_contract_purchaseExp_totalSalesPrice").val() ? $("#mch_contractsbundle_contract_purchaseExp_totalSalesPrice").val() : 0;

    var percent = 0;
    if (parseFloat(total) != 0) {
        percent = (parseFloat(amount) / parseFloat(total)) * 100;
        percent = percent.toFixed(2);
    }

    $("#mch_contractsbundle_contract_incentivesContributions_closingCostIncentivePercentage").val(percent);
});

$("#mch_contractsbundle_contract_incentivesContributions_closingCostIncentivePercentage").keyup(function (e) {
    var percent = $("#mch_contractsbundle_contract_incentivesContributions_closingCostIncentivePercentage").val() ? $("#mch_contractsbundle_contract_incentivesContributions_closingCostIncentivePercentage").val() : 0;
    var total = $("#mch_contractsbundle_contract_purchaseExp_totalSalesPrice").val() ? $("#mch_contractsbundle_contract_purchaseExp_totalSalesPrice").val() : 0;

    var amount = 0;
    if (parseFloat(total) != 0) {
        amount = (parseFloat(total) * percent) / 100;
        amount = amount.toFixed(2);
    }

    $("#mch_contractsbundle_contract_incentivesContributions_closingCostIncentiveAmount").val(amount);
});

$("#mch_contractsbundle_contract_incentivesContributions_titleAndSettlementIncentiveAmount").keyup(function (e) {
    var amount = $("#mch_contractsbundle_contract_incentivesContributions_titleAndSettlementIncentiveAmount").val() ? $("#mch_contractsbundle_contract_incentivesContributions_titleAndSettlementIncentiveAmount").val() : 0;
    var total = $("#mch_contractsbundle_contract_purchaseExp_totalSalesPrice").val() ? $("#mch_contractsbundle_contract_purchaseExp_totalSalesPrice").val() : 0;

    var percent = 0;
    if (parseFloat(total) != 0) {
        percent = (parseFloat(amount) / parseFloat(total)) * 100;
        percent = percent.toFixed(2);
    }

    $("#mch_contractsbundle_contract_incentivesContributions_titleAndSettlementIncentivePercentage").val(percent);
});

$("#mch_contractsbundle_contract_incentivesContributions_titleAndSettlementIncentivePercentage").keyup(function (e) {
    var percent = $("#mch_contractsbundle_contract_incentivesContributions_titleAndSettlementIncentivePercentage").val() ? $("#mch_contractsbundle_contract_incentivesContributions_titleAndSettlementIncentivePercentage").val() : 0;
    var total = $("#mch_contractsbundle_contract_purchaseExp_totalSalesPrice").val() ? $("#mch_contractsbundle_contract_purchaseExp_totalSalesPrice").val() : 0;

    var amount = 0;
    if (parseFloat(total) != 0) {
        amount = (parseFloat(total) * percent) / 100;
        amount = amount.toFixed(2);
    }

    $("#mch_contractsbundle_contract_incentivesContributions_titleAndSettlementIncentiveAmount").val(amount);
});

$("#mch_contractsbundle_contract_realPropInf_model").empty();
var model = "";

            // Documentation on getJSON: http://api.jquery.com/jQuery.getJSON/
            $.getJSON('/contract/modelCommunityIDAjax/' + {{ entity.RealPropInf.id }}, null, function (data) {
                model = data.value;
            });

            $.getJSON('/contract/modelCommunityAjax/' + $("#mch_contractsbundle_contract_realPropInf_mchCommunity").val(), null, function (data) {
                $.each(data, function (i, item) {
                    // Create and append the new options into the select list
                    var selected = "";
                    if (model == item.id)
                        selected = "selected"
                    $("#mch_contractsbundle_contract_realPropInf_model").append("<option " + selected + " value=" + item.id + ">" + item.value + "</option>");
                });
            });

            var MaxInputs = 8; //maximum input boxes allowed
            var InputsWrapper = $("#InputsWrapper"); //Input boxes wrapper ID
            var AddButton = $("#AddMoreFileBox"); //Add button ID

            var x = {{ documents|length }}; //initlal text box count
            var FieldCount = 1; //to keep track of text box added

            $(AddButton).click(function (e)  //on add input button click
            {
                if (x <= MaxInputs) //max input box allowed
                {
                    FieldCount++; //text box added increment
                    //add input box
                    $(InputsWrapper).append('<div style="padding-bottom: 10px;" class="input-group"><input class="form-control" type="text" name="documents[]" id="field_' + FieldCount + '" value=""/><a href="#" class="removeclass input-group-addon">&times;</a></div>');
                    x++; //text box increment
                }
                return false;
            });

            $("body").on("click", ".removeclass", function (e) { //user click on remove text
                if (x > 1) {
                    $(this).parent('div').remove(); //remove text box
                    x--; //decrement textbox
                }
                return false;
            })

        });
</script>

{% endblock %}
