<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    {# <link rel="stylesheet" href="{{ app.request.schemeAndHttpHost ~ asset('bundles/mchcrm/css/pdfStyle.css') }}"> #}
</head>
<body>
<div id="page-20-maindiv" style="max-width: 1020px; margin: 0 auto;">
    <div id="page-20-central_img"  class="central-page"><img src="{{ app.request.schemeAndHttpHost ~ asset('bundles/mchcrm/img/mountainCove.png') }}"></div>
    <div id="page-20-central_tittle" class="central-page"><h2>FHA/VA Addendum</h2></div>
    <div id="page-20-top_div">
        <p>
            This addendum is made a part of that certain Purchase Agreement between Mountain Cove Homes at South Dade, LLC as Seller and
            {{ contract.buyerInformation.buyers1 }}/{{ contract.buyerInformation.buyers2 }} as Buyer(s), dated
        </p>
        <p>
            <b>Property Address:</b> ________________________________________________________
        </p>
    </div>

    <div id="page-20-central_div">
        <h3 style="text-align: center">AMENDATORY CLAUSE</h3>
        <p>
            FHA/VA Loans: It is expressly agreed that notwithstanding any other provisions of this Purchase Agreement, the Buyer shall not be
            obliged to complete the purchase of the Premises described herein or to occur any penalty by forfeiture of earnest money deposits or
            otherwise unless the Buyer has been given, in accordance with HUD/FHA or VA requirements, a written statement by the Federal
            Housing Commissioner, Department of Veterans Affairs, or a Direct Endorsement lender setting forth the appraised value of the
            property of not less than $_____________. The Buyer shall have the privilege and option of proceeding with consummation of the
            Purchase Agreement without regard to the amount of the appraised valuation. The appraised valuation is arrived at to determine the
            maximum mortgage the Department of Housing and Urban Development or the VA, as applicable, will insure. HUD/VA, as applicable,
            does not warrant the value or condition of the property. The Buyer should satisfy himself/herself that the price and condition of the
            Premises are acceptable.
        </p>

        <h3 style="text-align: center; margin-top:100px">REAL ESTATE CERTIFICATION</h3>
        <p>
            The borrower, seller, and the selling real estate agent or broker involved in the sales transaction certify that the terms and conditions of
            the Purchase Agreement are true to the best of their knowledge and belief that any other agreement entered into by any of the parties in
            connection with the real estate transaction is part of, or attached to, the sales agreement.
        </p>
    </div>
    <div id="page-20-bottom_div">
        <div id="page-20-bottom_div_2"> <p><b>Purchaser: </b></p> </div>
        <div id="page-20-bottom_div_3"> <p><b>Seller:</b></p> </div>
        <div style="margin-top: -10px">
            <div id="page-20-bottom_div_4"> <p>___________________________________________</p> </div>
            <div id="page-20-bottom_div_5"> <p>___________________________________________</p> </div>
        </div>

        <div>
            <div id="page-20-bottom_div_7"> <p><b>Date:</b> _____________________________________</p> </div>
            <div id="page-20-bottom_div_8"> <p><b>Date:</b> _____________________________________</p> </div>
        </div>

        <div id="page-20-bottom_div_9"> <p><b>Purchaser: </b></p> </div>
        <div id="page-20-bottom_div_10"> <p>___________________________________________</p> </div>
        <div id="page-20-bottom_div_11" style="margin-top: 40px"> <p><b>Date:</b> _____________________________________</p> </div>
        <div style="margin-top: 40px">
            <div id="page-20-bottom_div_12"> <p><b>Realtor: </b></p> </div>
            <div id="page-20-bottom_div_13"> <p>{{ contract.brokerInformation.companyName }}</p> </div>
        </div>
    </div>
</div>
</body>
</html>

<div class="page-break"></div>