{% extends '::base.html.twig' %}

{% block bodyHeader -%}

<section class="wrapper">

    <div class="row">

        <div class="col-lg-12">

            {% endblock %}

            {% block body -%}

            <section class="panel">

              <header class="panel-heading">
                  Contracts
              </header>

              <table class="table table-striped table-advance table-hover">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for entity in entities %}
                    <tr>
                        <td>{% if entity.date %}{{ entity.date|date('Y-m-d') }}{% endif %}</td>
                        <td>
                            <a title="PDF Export" target="_blank" href="{{ path('contract_pdf', { 'id': entity.id }) }}"><button class="btn btn-default btn-xs"><i class="fa fa-file-pdf-o"></i></button></a>
                            <a title="Edit" href="{{ path('contract_edit', { 'id': entity.id }) }}"><button class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></button></a>
                            <a onclick="return confirm('Are you sure you want to DELETE this contract?')" title="Delete" href="{{ path('contract_drop', { 'id': entity.id }) }}"><button class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i></button></a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

        </section>

        <ul>
            <li>
                <a href="{{ path('contract_new') }}">
                    <button type="button" class="btn btn-info">Create new contract</button>
                </a>
            </li>
        </ul>
        {% endblock %}

        {% block bodyFoot %}

    </div>

</div>

</section>

{% endblock %}
