<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    {# <link rel="stylesheet" href="{{ app.request.schemeAndHttpHost ~ asset('bundles/mchcrm/css/pdfStyle.css') }}"> #}
</head>
<body>
<div id="page-4-maindiv" style="max-width: 1020px; margin: 0 auto;">
    <div id="page-4-central_img"  class="central-page"><img src="{{ app.request.schemeAndHttpHost ~ asset('bundles/mchcrm/img/mountainCove.png') }}"></div>
    <div id="page-4-central_tittle" class="central-page"><h2>MIAMI-DADE County, Florida</h2></div>
    <div id="page-4-central_tittle2" class="central-page"><h2>NOTICE TO BUYER PURSUANT TO CH. 2003-49, LAWS OF FLORIDA</h2></div>

    <div id="page-4-central_div">
        <p>
            FLORIDA LAW CONTAINS IMPORTANT REQUIREMENTS YOU MUST FOLLOW BEFORE YOU MAY FILE A LAWSUIT
            FOR DEFECTIVE CONSTRUCTION AGAINST A CONTRACTOR, SUBCONTRACTOR, SUPPLIER, OR DESIGN
            PROFESSIONAL FOR AN ALLEGED CONSTRUCTION DEFECT IN YOUR HOME. SIXTY DAYS BEFORE YOU FILE YOUR
            LAWSUIT, YOU MUST DELIVER TO THE CONTRACTOR, SUBCONTRACTOR, SUPPLIERS, OR DESIGN PROFESSIONAL
            A WRITTEN NOTICE OF ANY CONSTRUCTION CONDITIONS YOU ALLEGE ARE DEFECTIVE AND PROVIDE YOUR
            CONTRACTOR AND ANY SUBCONTRACTORS, SUPPLIERS, OR DESIGN PROFESSIONALS THE OPPORTUNITY TO
            INSPECT THE ALLEGED CONSTRUCTION DEFECTS AND MAKE AN OFFER TO REPAIR OR PAY FOR THE ALLEGED
            CONSTRUCTION DEFECTS. YOU ARE NOT OBLIGATED TO ACCEPT ANY OFFER MADE BY THE CONTRACTOR OR
            ANY SUBCONTRACTORS, SUPPLIERS, OR DESIGN PROFESSIONALS. THERE ARE STRICT DEADLINES AND
            PROCEDURES UNDER FLORIDA LAW.

        </p>
    </div>

    <div id="page-4-bottom_div">
        <p><b>Receipt of this Notice is acknowledged by:</b></p>
    </div>

    <div id="page-4-bottom_div_2">
        <div class="page-4-bottom_div_2"> <p>Purchaser: </p> </div>
        <div class="page-4-bottom_div_2" style="margin-left: 470px"> <p>Seller:</p> </div>
    </div>

    <div id="page-4-bottom_div_3">
        <div class="page-4-bottom_div_3"> <p>___________________________________________</p> </div>
        <div class="page-4-bottom_div_3" style="margin-left: 220px"> <p>{{ contract.purchaseExp.sellerName }}</p> </div>
    </div>

    <div id="page-4-bottom_div_4">
        <div class="page-4-bottom_div_4"> <p>Date: _____________________________________</p> </div>
        <div class="page-4-bottom_div_4" style="margin-left: 220px"> <p>Date: ______________________________________</p> </div>
    </div>

    <div></div>

    <div> <p>Purchaser: </p> </div>

    <div> <p>___________________________________________</p> </div>

    <div style="margin-top: 30px"> <p>Date: _____________________________________</p> </div>

</div>
</body>
</html>

<div class="page-break"></div>