<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    {# <link rel="stylesheet" href="{{ app.request.schemeAndHttpHost ~ asset('bundles/mchcrm/css/pdfStyle.css') }}"> #}
</head>
<body>
<div id="page-11-maindiv" style="max-width: 1020px; margin: 0 auto;">
    <div id="page-11-central_img"  class="central-page"><img src="{{ app.request.schemeAndHttpHost ~ asset('bundles/mchcrm/img/mountainCove.png') }}"></div>
    <div id="page-11-central_tittle" class="central-page"><h2>Occupancy/Investment Disclosure Addendum            </h2></div>

    <div id="page-11-top_div">
        <div class="page-11-top_div"> <p>Subdivision: {{ contract.realPropInf.subdivision }} </p> </div>
        <div class="page-11-top_div" style="position:float; margin-left: 150px"> <p>Lot/Block: {{ contract.realPropInf.lot }}/{{ contract.realPropInf.block }}</p> </div>
        <div> <p>Buyer: {{ contract.buyerInformation.buyers1 }} </p> </div>
        <div style="margin-top: 30px;"> <p>Buyer: {{ contract.buyerInformation.buyers2 }} </p> </div>
    </div>

    <div id="page-11-central_div">
        <p> This Addendum shall constitute an addendum to, and become a part of, that Purchase Agreement (the “Contract”) executed between
            Buyer and Seller pertaining to the Property described above.
        </p>
        <p class="page-11-separate_p">
            <b><u>REPRESENTATION REGARDING OCCUPANCY OR INVESTMENT</u></b>
        </p>
        <p style="margin-top: -10px">
            <b>Buyer to initial either A, B or C:</b>
        </p>
        <p class="page-11-separate_p">
            _____ / _____ A. Buyer hereby represents and warrants the Property is to be owned and occupied as Buyer’s primary residence and
            not for investment purposes or rental. Buyer acknowledges that any misrepresentation in this respect will be a material default of the
            Contract entitling Seller to terminate the Contract and retain all Deposit Money as liquidated damages.
        </p>
        <p class="page-11-separate_p">
            _____ / _____ B. Buyer hereby represents and warrants that the Property is to be purchased as an investment property. Buyer
            acknowledges that Seller can, in its sole and absolute discretion, prohibit or limit the number of investor purchases in the
            subdivision. Further, and in addition to any restriction set forth in any recorded covenant, condition or restriction affecting the
            Property, Buyer shall not place a “for sale” or “for rent” sign on the property until one (1) year after closing, as long as the Home
            Owners Association permits such signs.
        </p>
        <p class="page-11-separate_p">
            _____ / _____ C. Buyer hereby represents and warrants that Property is to be owned and occupied as Buyer’s secondary residence
            and not for investment purposes or rental. Buyer acknowledges that any misrepresentation in this respect will be a material default
            of the Contract entitling Seller to terminate the Contract and retain all Deposit Money as liquidated damages. Buyer acknowledges
            that Seller can, in its sole and absolute discretion, prohibit or limit the number of secondary residence purchases in the subdivision.
        </p>
        <p class="page-11-separate_p">
            The provisions of this Addendum shall survive closing and delivery of the deed, or termination of the Contract for any reason.
        </p>
    </div>
    <div id="page-11-bottom-div" style="margin-top: 80px;">
        <div class="page-11-bottom_div"> <p><b>Purchaser: _____________________________________ </b></p> </div>
        <div class="page-11-bottom_div_date"> <p><b>Date: _____________________________________ </b></p></div>
        <div class="page-11-bottom_div"> <p><b>Purchaser: _____________________________________ </b></p></div>
        <div class="page-11-bottom_div_date"> <p><b>Date: _____________________________________ </b></p></div>
    </div>
</div>
</body>
</html>

<div class="page-break"></div>