<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    {# <link rel="stylesheet" href="{{ app.request.schemeAndHttpHost ~ asset('bundles/mchcrm/css/pdfStyle.css') }}"> #}
</head>
<body>
<div id="page-9-maindiv" style="max-width: 1020px; margin: 0 auto;">
    <p>
        all matters and of every kind or nature with respect to this Purchase Agreement; (h) the Seller reserves an easement for ingress and egress
        for itself, its employees, agents, subcontractors, designees, and assigns, over and upon the front, side and rear portions of the Premises as
        may be required by Seller in the construction, servicing and completion of the Premises or any adjoining Premises or adjacent
        improvements, These easements shall continue until sixty (60) days after the completion of the Premises or adjoining Premises or
        adjacent improvements, whichever occurs last and shall survive the closing; (i) time is of the essence, and failure to close on the
        scheduled closing date shall be considered a default in this Purchase Agreement. This clause is to be strictly construed as it is the
        intention of both parties that the closing, is to be accomplished on the scheduled closing date and further; all of the time periods herein
        shall be strictly adhered to; (j) in the event any one or more of the provisions contained in this Purchase Agreement shall, for any reason,
        be held to be inapplicable, invalid, illegal, or unenforceable in any respect, such inapplicability, invalidity, illegality, or unenforceability
        shall not affect any other provision of this Purchase Agreement, but this Purchase Agreement shall be construed as if such inapplicable,
        invalid, illegal, or unenforceable provision had never been contained herein; (k) wherever the context so requires, the use of any gender
        shall include all genders, and the use of the singular shall include the plural; and (I) Buyer represents and warrants unto Seller that Buyer
        has investigated to Buyer’s complete satisfaction, all Federal, State, City, and local, statutes, ordinances, and regulations applicable to
        the Property, the Subdivision, and surrounding properties, if any, regardless of whether such properties are vacant, undeveloped,
        developed, improved, or privately owned.

    </p>

    <p class="page-5-bottom_div_3-p">_________</p>
    <p class="page-5-bottom_div_3-p" style="margin-left: 50px">_________</p>

    <p>
        15. <b>Hook-up Fee:</b> Buyer acknowledges and agrees that in connection with the purchase of the Home, Buyer shall pay to Seller a
        Hook-up Fee of One and One-half Percent (1.50%) of the Total Purchase Price (the “Hook-up Fee”). The Builder’s Fee is separate from
        any and all closing fees or closing costs imposed by a Lender selected by Buyer or otherwise incurred in connection with the purchase of
        the Home. Buyer shall pay all loan and closing costs as hereinabove provided.
    </p>

    <p>
        16. <b>Sales Office:</b> As long as Seller, or nominees of Seller, owns any properties in the project, Seller and/or its said nominees shall have
        the right and privilege to maintain general sales offices in and about the project, including model residences, and to have their employees
        present on the Premises to show properties, use the common areas and without limitation, to do any and all other things necessary or
        appropriate for them to sell or lease properties, all without charge or contribution.
    </p>

    <p>
        17. <b>Insulation Specifications:</b> Federal law requires the Seller to advise the Buyers as to the type, thickness and R-Value of the
        insulation that will be installed within the dwelling. The information is provided on the Addendum attached hereto and made a part
        hereof.
    </p>

    <p>
        18. <b>Homeowners’ Warranty:</b> The premium for the Residential Warranty Corp. Dwelling Warranty (copy of which will be furnished)
        will be paid by Seller. In addition, Seller does hereby warrant the construction of the dwelling in accordance with the Builder’s
        Warranty, a copy of which will be furnished and made a part hereof TO THE MAXIMUM EXTENT PERMITTED BY LAW, SELLER
        DOES HEREBY DISCLAIM ANY AND ALL IMPLIED WARRANTIES OF FITNESS FOR A PARTICULAR PURPOSE,
        MERCHANTABILITY AND HABITABILITY, ALL WARRANTIES IMPOSED BY STATUTE AND ALL OTHER IMPLIED OR
        EXPRESSED WARRANTIES OF ANY KIND AND CHARACTER, WITH THE REGARDS TO THE PREMISES AND
        DWELLING ITSELF, THE PERSONAL PROPERTY CONTAINED THEREIN AND THE FIXTURES CONTAINED THEREIN.
        SELLER HAS NOT GIVEN AND BUYER HAS NOT RELIED ON OR BARGAINED FOR ANY SUCH WARRANTY. THE
        WARRANTY PROVIDED IN THIS PARAGRAPH IS A LIMITED WARRANTY PURSUANT TO FEDERAL LAW. If Buyer
        obtains financing from FHA or VA loans, then Buyer is not required to submit disputes that arise under the Residential Warranty Corp.
        Dwelling Warranty to binding arbitration.
    </p>
    <p>
        19. <b>Radon Gas:</b> Radon is a naturally occurring radioactive gas that, when it has accumulated in the building in sufficient quantities,
        may present health risks to persons who are exposed to it all the time. Levels of radon that exceed federal and state guidelines have been
        found in buildings in Florida. Additional information regarding radon and radon testing may be obtained from your county public health
        unit.
    </p>
    <p>
        20. <b>Lakes and/or Wetlands:</b> Buyer acknowledges that the local permitting authority for surface water permits is not related to Seller.
        Therefore, Buyer understands and acknowledges that any lakes or wetlands, if applicable, are designed as water management areas and
        are not designed as aesthetic features. Due to the fluctuations in ground water elevations within the immediate area, the water level of
        lakes will rise and fall and may be extremely shallow during some months of the year. Buyer further understands and acknowledges that
        Seller has no control over such elevations. Therefore, Buyer agrees to hold harmless Seller and every related party of Seller from and
        against all losses, claims, demands, damages, costs and expenses of whatever nature or kind, including attorneys’ fees and costs and
        appellate fees and costs, related to or arising out of any claim by Buyer against Seller as a result of the water elevations, including
        without limitation, the absence of water in the lakes.
    </p>
    <p>
        21. <b>Neighboring Real Estate:</b> Buyer acknowledges, and expressly agrees, that neither Seller nor any person acting by or on behalf of
        the Seller has made representation or statement regarding ownership, condition, zoning, restrictions, proposed use, or any possible use
        that may ever be applied to or imposed upon any and all vacant, developed, or undeveloped lots or real estate, grounds or properties, if
        any that are contiguous to or in the vicinity of the Premises or the subdivision of which the Premises is part.
    </p>
    <p>
        22. <b>Brokers Compensation:</b> A Broker {{ contract.brokerInformation.realtorInSale == 'y' ? 'YES' : '____' }} is or {{ contract.brokerInformation.realtorInSale == 'n' ? 'NOT' : '____' }} is not participating in the sale. The Brokerage name is Located at Street
        address:{{ contract.brokerInformation.address }}. Broker’s compensation is subject
        to terms outlined in attached Realtor-Client Registration Form.
    </p>
    <p>
        Seller typically pays a commission (‘Broker Commission”) upon home closing to licensed brokers who introduce buyers to Seller’s
        communities. Such a commission may be paid in connection with your home purchase. In addition, Seller from time to time offers
        incentives programs (“Incentive Programs”) to brokers, such as additional commissions for sales within a certain time period or for
        multiple sales within a certain time period. Incentive Programs may he offered to your broker before or after the date that you sign your
        contract. If you want more information regarding Broker Commissions or Incentive Programs applicable to your home purchase, please
        notify Seller in writing. Unless you are notified otherwise, total Broker Commissions paid in connection with your home sale shall not
        exceed ______ percent (_____ %) of your home sales price.
    </p>
    <p class="page-5-bottom_div_3-p">_________</p>
    <p class="page-5-bottom_div_3-p" style="margin-left: 50px">_________</p>
</div>
</body>
</html>

<div class="page-break"></div>