<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    {# <link rel="stylesheet" href="{{ app.request.schemeAndHttpHost ~ asset('bundles/mchcrm/css/pdfStyle.css') }}"> #}
</head>
<body>
<div id="page-8-maindiv" style="max-width: 1020px; margin: 0 auto;">
    <p>
        <b>11. PROPERTY TAX DISCLOSURE SUMMARY
            BUYER SHOULD NOT RELY ON THE SELLER’S CURRENT PROPERTY TAXES AS THE AMOUNT OF PROPERTY
            TAXES THAT THE BUYER MAY BE OBLIGATED TO PAY IN THE YEAR SUBSEQUENT TO PURCHASE. A CHANGE
            OF OWNERSHIP OR PROPERTY IMPROVEMENTS TRIGGERS REASSESSMENTS OF THE PROPERTY THAT
            COULD RESULT IN HIGHER PROPERTY TAXES. IF YOU HAVE ANY QUESTIONS CONCERNING VALUATION,
            CONTACT THE COUNTY PROPERTY APPRAISER’S OFFICE FOR INFORMATION.</b>

    </p>

    <p class="page-5-bottom_div_3-p">_________</p>
    <p class="page-5-bottom_div_3-p" style="margin-left: 50px">_________</p>

    <p>
        12. <b>Closing:</b> Seller recommends that the closing be conducted by the title insurance company referred to in paragraph 9(a). However,
        Buyer may select a closing agent other than that recommended by Seller, but which must be reasonably acceptable to Seller. In the event
        Buyer elects to use a closing agent other than the closing agent recommended by the Seller, Buyer must notify Seller of its selected
        closing agent, in writing, within twenty (20) days of the date Buyer executes this Purchase Agreement (but in any event not later than ten
        (10) days prior to closing if the closing is within the twenty (20) day period), failing which Buyer shall be deemed to have waived the
        right to select another closing agent. The specific time for closing shall be designated by Seller in a written notice by Seller to Buyer in
        the manner hereinafter provided for the giving of notice, at least seven (7) days prior to the closing date. It is mutually agreed that the
        closing of this Purchase Agreement shall not occur before the date the dwelling is completed. If this Purchase Agreement is signed after
        the date the dwelling is completed, the provisions of this Paragraph 11 concerning the date the dwelling is completed as it affects closing
        shall not apply to this Purchase Agreement. The issuance of a Certificate of Occupancy by the County wherein the Premises are located
        shall be binding and conclusive upon the parties as to whether the dwelling has been completed. The fact that certain surrounding areas
        may not be completed, or that the dwelling may require minor repairs, touch-ups or adjustments, or the Lot has not been sodded, shall not
        constitute a valid reason for Buyer’s failure to close. The closing shall take place on the closing date at the place and at the time specified
        in the written notice herein provided for. All of the persons named as Buyers herein, and their spouses, if any must attend the closing.
        Notwithstanding any provision herein to the contrary, if, on the closing date, Buyer without default on the part of Seller, fails to pay such
        sums as are required to be made on the closing date or to execute the instruments required of the Buyer, then the payment made under
        this Purchase Agreement to Seller shall be retained by Seller as liquidated and agreed upon damages, as provided for in Paragraph 4
        hereof. If the failure to close is occasioned by the failure of the Seller to comply with or tender compliance with its portion of this
        Purchase Agreement on the closing date then Buyer may elect to rescind this transaction, in which event the payments made under this
        Purchase Agreement shall be returned by Seller to Buyer, this Purchase Agreement shall be ended and neither party shall owe the other
        any further duty or obligation hereunder, or Buyer may institute proceedings against Seller for specific performance, or any other
        remedy provided by law, and in the event specific performance proceedings are filed, all deposits heretofore made by Buyer shall remain
        with the Seller pending the final determination of the proceedings. Extensions of the closing beyond the closing date may be allowed by
        Seller, provided Buyer pays an extension fee equal to 1% of the Purchase Price plus a daily charge in the amount of $50.00.


    </p>

    <p>
        13. <b>Additional Costs and Documents</b>  (a) At the time of closing, the Buyer agrees to pay, in addition to the Purchase Agreement price
        for the Premises, the following: (i) all mortgage closing costs as applicable pursuant to Paragraph 5 hereof~ (ii) all title and lien search
        expenses (iii) all expenses related to community Homeowners’ Associations, community development districts, and county
        improvement districts which are more specifically outlined in the <b>COMMUNITY ADDENDUM </b> which is attached hereto and made
        apart hereof, plus a proration of the monthly assessment of; (iv) the amount of any Upgrades or Options ordered by Buyer subsequent to
        the date of execution of this Purchase Agreement and not otherwise paid for; (v) Buyer’s share of the real estate taxes including any
        Special Taxing Districts if applicable and Municipal Services Fees and/or Public Service Fees, if any, for the year in which the
        transaction is closed, prorated as of the date of closing; (vi) the costs of recording the Warranty Deed and the cost of documentary stamps
        to be affixed thereto, (vii) the cost of the final property survey in the approximate amount of $350; (viii) costs of an owner’s title
        insurance commitment and policy if the Buyer elects to use a title insurance agent other than the agent selected by Seller; (ix) document
        preparation fee; (x) costs of a credit report; (xi) closing attorney’s fees; (xii) photos; (xiii) costs of an appraisal; (xiv) premium for the
        mortgage title insurance policy and endorsements thereto (if applicable); (xv) underwriting fee and (xvi) the balance of the Purchase
        Price in cash or by a cashier’s check drawn on a Florida Banking institution.

    </p>

    <p>
        (b) At the closing Buyer will execute and deliver to Seller all documents necessary to give effect to this Purchase Agreement, the
        closing of title to this sale, and the closing the mortgage loan, if any, and the creation of the Homeowners Association and other
        documents acknowledging the closing in compliance with this Purchase Agreement. Seller agrees that at the closing it will deliver a
        warranty deed to the Premises; a mechanics’ lien affidavit; and will deliver possession of the Premises. In addition, Seller does hereby
        assign unto the Buyer the benefit of all warranties that the Seller may have as they extend to the Premises being purchased and all
        warranties of personal property from manufacturers contained therein which are conveyed with the Premises. Seller and Buyer agree to
        execute and deliver at closing such instruments as may be necessary to carry out the terms of this Purchase Agreement.

    </p>

    <p>
        14. <b>Entire Agreement, Recording:</b> It is understood and agreed between the parties that (a) this Purchase Agreement may not be
        assigned, set over or transferred without prior written consent of the Seller, and such consent shall be given in the sole and absolute
        discretion of the Seller; (b) all notices and demands and original writings required to be given pursuant to the terms of this Purchase
        Agreement shall be in writing, and shall be deemed given when deposited in the United States Mail, Certified Mail, Return Receipt
        Requested, by hand-delivery, by acknowledged telegram, or sent by E-mail to be received by an information processing system that
        Buyer uses and is able to retrieve as an electronic record pursuant to the Uniform Electronic Transaction Act, Florida Statute 668.50. All
        notices to the Buyer shall be sent to his mailing address or his E-mail address as set forth on the first page herein unless the Buyer
        notified Seller in writing of a change of either address, Buyer acknowledges and agrees that the Purchase Agreement may not be denied
        legal effect or enforceability should the Purchase Agreement be delivered and received via E-mail as an electronic record; (c) this
        Purchase Agreement may not be recorded, and any attempt at recordation will be a nullity and will constitute the Buyer in default under
        this Purchase Agreement; (d) this Purchase Agreement, exhibits and addenda made a part hereof constitute the full, final and complete
        agreement between the parties, and no representations, claims, statements, advertising, promotional activities, brochures, maps or
        otherwise made by Seller or Seller’s agents or representatives, shall in any wise be binding upon Seller unless the same are expressly set
        forth in a written agreement executed by Seller; (e) all rights of the Buyer under this Purchase Agreement relating to the Premises shall
        come into existence at the time of the payment of all monies required hereunder in full by Buyer to the Seller, and the execution and
        delivery by the parties hereof of all instruments and documents required hereunder, excepting that nothing contained herein shall be
        construed as relieving the Seller of its obligations under this Purchase Agreement; (1) Buyer may not have access to or entry to the
        Premises, nor may Buyer store any of his possessions in or about the Premises prior to the closing of the transaction; (g) if two or more
        persons are named as Buyer herein, any one of them is authorized to act as agent for, with the right to bind, the other(s) in

    </p>
</div>
</body>
</html>

<div class="page-break"></div>