<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    {# <link rel="stylesheet" href="{{ app.request.schemeAndHttpHost ~ asset('bundles/mchcrm/css/pdfStyle.css') }}"> #}
</head>
<body>
<div id="page-3-maindiv" style="max-width: 1020px; margin: 0 auto;">
    <div id="page-3-central_img" class="central-page"><img src="{{ app.request.schemeAndHttpHost ~ asset('bundles/mchcrm/{{ app.request.schemeAndHttpHost ~ asset('bundles/mchcrm/img/mountainCove.png') }}') }}"></div>
    <div id="page-3-central_tittle" class="central-page"><h2>Deposit Form/Check Receipt</h2></div>
    <div id="page-3-top_div">
        <p>Date: <span>{{ contract.purchaseExp.date|date('Y-m-d') }}</span></p>

        <p style="display: inline-block">Buyer's Name: <span>{{ contract.purchaseExp.buyerName1 }}</span></p>

        <p style="display: inline-block; margin-left: 120px;">AB#: <span>{{ contract.purchaseExp.abNumber }}</span></p>

        <p>Buyer's Name: <span>{{ contract.purchaseExp.buyerName2 }}</span></p>

        <p>Job#: <span>{{ contract.purchaseExp.jobNumber }}</span></p>

        <p style="display: inline-block">Subdivision#: <span>{{ contract.purchaseExp.subdivisionNumber }}</span></p>

        <p style="display: inline-block; margin-left: 120px;">Lot/Block: <span>{{ contract.purchaseExp.lot }}</span></p>

        <p style="display: inline-block; margin-left: 40px;">Model: <span>{{ contract.purchaseExp.model }}</span></p>

        <p>Sales Person: <span>{{ contract.purchaseExp.salesPerson }}</span></p>
    </div>

    <div id="page-3-central_div">
        <div>
            {% if 'initial' in contract.purchaseExp.deposit %}
                <img src="{{ app.request.schemeAndHttpHost ~ asset('bundles/mchcrm/img/checkbox/check-on.png') }}" class="checklist"/>
            {% else %}
                <img src="{{ app.request.schemeAndHttpHost ~ asset('bundles/mchcrm/img/checkbox/check-off.png') }}" class="checklist"/>
            {% endif %}
            <p class="checklist-text"><b>Initial Deposit</b></p>
        </div>

        <div>
            {% if 'additional' in contract.purchaseExp.deposit %}
                <img src="{{ app.request.schemeAndHttpHost ~ asset('bundles/mchcrm/img/checkbox/check-on.png') }}" class="checklist"/>
            {% else %}
                <img src="{{ app.request.schemeAndHttpHost ~ asset('bundles/mchcrm/img/checkbox/check-off.png') }}" class="checklist"/>
            {% endif %}
            <p class="checklist-text"><b>Additional Deposit</b></p>
        </div>
        <div>
            {% if 'design' in contract.purchaseExp.deposit %}
                <img src="{{ app.request.schemeAndHttpHost ~ asset('bundles/mchcrm/img/checkbox/check-on.png') }}" class="checklist"/>
            {% else %}
                <img src="{{ app.request.schemeAndHttpHost ~ asset('bundles/mchcrm/img/checkbox/check-off.png') }}" class="checklist"/>
            {% endif %}
            <p class="checklist-text"><b>Design Deposit</b></p>
        </div>
    </div>

    <div id="page-3-central_div_2">
        <p><b>Verify all deposits are payable to proper account:</b></p>
    </div>

    <div id="page-3-bottom_div">
        <div>
            {% if contract.purchaseExp.properAccount == 'MCH'  %}
                <img src="{{ app.request.schemeAndHttpHost ~ asset('bundles/mchcrm/img/checkbox/check-on.png') }}" class="checklist"/>
            {% else %}
                <img src="{{ app.request.schemeAndHttpHost ~ asset('bundles/mchcrm/img/checkbox/check-off.png') }}" class="checklist"/>
            {% endif %}
            <p class="checklist-text"><b>Mountain Cove Homes at South Dade, LLC</b></p>
        </div>
        <div>
            {% if contract.purchaseExp.properAccount == 'LOAG'  %}
                <img src="{{ app.request.schemeAndHttpHost ~ asset('bundles/mchcrm/img/checkbox/check-on.png') }}" class="checklist"/>
            {% else %}
                <img src="{{ app.request.schemeAndHttpHost ~ asset('bundles/mchcrm/img/checkbox/check-off.png') }}" class="checklist"/>
            {% endif %}
            <p class="checklist-text"><b>Law Offices of Alexis Gonzalez, PA Trust Account</b></p>
        </div>

        <div>
            {% if contract.purchaseExp.properAccount == 'Other'  %}
                <img src="{{ app.request.schemeAndHttpHost ~ asset('bundles/mchcrm/img/checkbox/check-on.png') }}" class="checklist"/>
                <p class="checklist-text"><b>Other:<span>{{ contract.purchaseExp.properAccount }}</span></b></p>
            {% else %}
                <img src="{{ app.request.schemeAndHttpHost ~ asset('bundles/mchcrm/img/checkbox/check-off.png') }}" class="checklist"/>
                <p class="checklist-text"><b>Other:</b></p>
            {% endif %}
        </div>
    </div>

    <div id="page-3-bottom_div_2">
        <div class="page-3-bottom_div_2"><p>Purchase Price: $ <span>{{ contract.purchaseExp.purchasePrice }}</span></p></div>
        <div class="page-3-bottom_div_2" style="margin-left: 40px"><p>Deposit Amount: $
                <span>{{ contract.purchaseExp.depositAmount }}</span></p></div>
    </div>

    <div id="page-3-bottom_div_3">
        <div class="page-3-bottom_div_3"><p><b><i>ATTACH CHECK HERE</i></b></p></div>
        <div class="page-3-bottom_div_3"><p><b>(then make 2 copies of check attached on this form)</b></p></div>
    </div>

    <div id="page-3-bottom_div_4">
        <table id="page-3-table" cellpadding="0" cellspacing="0">
            <tr>
                <th>Date Collected</th>
                <th>Payment Type</th>
                <th>Check Number</th>
                <th>Amount</th>
                <th>For</th>
                <th>Check Made Out To</th>
            </tr>

            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th colspan="3">Total Deposits</th>
                <td></td>
            </tr>

        </table>
    </div>
</div>
</body>
</html>

<div class="page-break"></div>