<html>
<head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    {# <link rel="stylesheet" href="{{ app.request.schemeAndHttpHost ~ asset('bundles/mchcrm/css/pdfStyle.css') }}"> #}
</head>
<body>
<div id="page-7-maindiv" style="max-width: 1020px; margin: 0 auto;">
    <p>
        7. <b> Upgrades and/or Options and Inspection of Premises: Buyer</b>  shall make all selections and/or purchase of Upgrades or Options
        which may be offered by Seller within ten (10) days from date of this Purchase Agreement. If Buyer fails to make selections and/or fails
        to make all payments required by Seller for Upgrades or Options within the ten (10) day period, Seller may make selections on Buyer’s
        behalf, which selections shall be binding upon Buyer, and Seller may thereafter refuse any selections from Buyer and disallow any
        purchase of Upgrades or Options. Seller may at its discretion, limit the dollar amount of Upgrades and Options ordered by Buyer. Buyer
        hereby acknowledges that due to the amount of Upgrades and Options ordered by the Buyer the appraised value may be less than the
        Purchase Price. In the event that said appraisal is less than the Purchase Price the Buyer agrees to pay any amount difference between the
        mortgage amount and Purchase Price in cash at closing. If any Upgrade or Option paid for by Buyer becomes unavailable during
        construction, Seller shall have the right to substitute such Upgrade or Option with one of substantially similar quality or if none is
        available, Seller shall refund Buyer’s money paid for such items at or prior to closing. Seller may limit exterior elevations and color
        choices pursuant to community standards. Prior to closing Buyer shall be given an opportunity to inspect the Premises with Seller’s
        representative and at the time complete an inspection report setting forth any defects in workmanship or materials which shall be signed
        by Buyer. As to any items therein described which are truly defects in workmanship and materials (keeping in mind the construction
        standards prevalent in the County wherein Premises are located for similar property), Seller shall be obligated to correct the same within
        a reasonable period of time following the closing, but Seller’s obligation to correct the same shall not be grounds for deferring the
        closing of the title nor the imposition of any condition upon closing. All defects and post closing warranty claims shall be handled in
        accordance with the terms and conditions of the homeowner’s warranty. Buyer agrees that prior to closing the Buyer may inspect the
        Premises only with the prior approval of Seller and further agrees that any matters pertaining to construction will be handled through the
        Seller’s main office, and that Buyer will not in any way interfere with the job site workmen, foreman or superintendent.
    </p>

    <p>
        8. <b>Construction Completion: </b>  Seller agrees to use its best efforts to complete the construction of the dwelling unit by the estimated
        completion date subject to delays caused by Acts of God, acts of governmental authorities, floods, hurricanes, strikes, labor conditions
        beyond Seller’s control, unavailability of manpower or materials, or any other causes not within Seller’s control. Seller agrees that the
        dwelling will be completed on or before a date which is two (2) years from the effective date of this Purchase Agreement.

    </p>

    <p>
        9. <b>Premises</b> All Buyers, occupants and users of the Premises are hereby placed on notice that Seller, any related party of Seller, and/or
        its agents, contractors, subcontractors, licensees and or other designees, successors or assignees will be, from time to time, conducting
        excavation, construction and other activities within or in the proximity to the Premises. By the acceptance of a deed to, or other
        conveyance or mortgage, leasehold, license or other interest and by using any portion of the Premises, each such grantee, occupant and
        user automatically acknowledges, stipulates and agrees (i) that none of the aforesaid activities shall deemed nuisances or noxious or
        offensive activities, under any applicable covenants or at law generally; (ii) not to enter upon or allow their children or other persons
        under their control or direction to enter upon (regardless of whether such entity is a trespass or otherwise) any Premises or in proximity
        to the Premises where such activities are being conducted (even if not being actively conducted at time of entry, such as at night or
        otherwise during non-working hours); (iii) Seller, any related party of Seller and all of it agents, contractors, subcontractors, licensees
        and other designees, successors and assignees, shall not be liable, but rather, shall be held harmless for any and all losses, damages
        (compensatory, consequential, punitive or otherwise), injuries or deaths arising from or relating to the aforesaid activities; (iv) any
        purchase or use of any portion of the Premises has been and will be made with full knowledge of the foregoing; and (v) this
        acknowledgment and agreement is a material inducement to Seller to sell, convey, lease and/or allow the use of the Premises.
    </p>

    <p>
        10. <b>Title:</b> (a) Prior to closing, Seller will cause a title insurance company selected by Seller, which may be affiliated with Seller, to issue
        a commitment to Buyer, at Seller’s expense, to insure title to the Premises subject to the following “Permitted Exceptions”: (i) real estate
        taxes and assessments for the year in which the transaction is closed; (ii) the mortgage, if any, assumed or executed by Buyer; (iii)
        restrictions, conditions, reservations, limitations and easements of record; (iv) zoning and building laws of the appropriate municipality;
        (v) covenants and easements created or to be created in favor of the municipalities, public and private utilities, and the Seller or
        homeowners associations for the installation and maintenance of utilities, lines, mains, pipes, poles, wires, tunnels, basins, canals, etc.
        with right of access to service the same; (vi) conveyances of Minerals; (vii) any documents related to the creation of the Community
        Development District, if any; and (viii) the usual exceptions contained in an owner’s policy of title insurance by title insurance
        companies in the County wherein the Premises are located. Buyer may, at or prior to closing, object to any matters that result in the title
        to the Premises being not “Marketable Title” by giving written notice of such objections. “Marketable Title” shall mean title which (i) a
        title insurance company licensed to do business in Florida will insure at its regular rates, subject only to standard exceptions, or (ii) is
        acceptable to the lender. If Seller is unable to satisfy Buyer’s valid title objections within thirty (30) days of Buyer’s notice of such
        objections, Buyer’s sole and exclusive rights shall be to elect to either (i) immediately terminate this Purchase Agreement and receive a
        full refund of the deposit, or (ii) immediately proceed to closing with no adjustment in the Purchase Price. Subsequent to closing, unless
        Buyer has elected in writing to waive title insurance, Seller will deliver to Buyer an owner’s policy of title insurance insuring title to the
        Premises to Buyer in an amount equal to the Purchase Price and otherwise conforming to said commitment or a mortgagee policy of title
        insurance, in an amount required by the mortgage lender. Buyer agrees that the purchase and occupancy of the Premises, and the
        obligations of Buyer, will, at all times, be subject to the provisions of the COMMUNITY DOCUMENTS, copies of which have been
        delivered to Buyer. The Seller reserves the right to amend any of the COMMUNITY ASSOCIATION documents. Buyer understands
        that the dwelling may be encumbered by a construction loan mortgage and agrees that the same shall not be an objection to title, it being
        understood that the dwelling will be released from the lien of said construction loan mortgage out of the proceeds of the closing. <u>Seller
            shall not provide Buyer with an abstract of title.</u>
    </p>

    <p>
        If Buyer or Buyer’s lender requires an abstract of title, said abstract will be at Buyer’s expense. In the event the preparation and delivery
        of an abstract causes a delay in the closing date or, if Seller extends the closing date as an accommodation to Buyer, Buyer will be
        charged cost for the delay on a per diem basis, which cost shall include, but shall not be limited to interest, insurance, taxes and
        maintenance. The issuance of a tile policy subject only to those matters as specified herein shall be conclusive and binding upon the
        parties that title is insurable as set forth herein.
    </p>

    <p>
        (b) In the event Buyer elects to use a title insurance agent other than the agent selected by Seller and arranges for title insurance in place
        of the title insurance to be provided by Seller, (i) Buyer must notify Seller of such election, in writing, within twenty (20) days of the date
        Buyer executes this Purchase Agreement (but in any event not later than ten (10) days prior to closing if the closing is within the twenty
        (20) day period, failing which Buyer shall be deemed to have waived the right to select another title insurance agent; and (ii) Buyer and
        Seller must execute Seller’s addendum with respect to the use of another title agent.
    </p>
</div>
</body>
</html>

<div class="page-break"></div>