<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    {# <link rel="stylesheet" href="{{ app.request.schemeAndHttpHost ~ asset('bundles/mchcrm/css/pdfStyle.css') }}"> #}
</head>
<body>
<div id="page-12-maindiv" style="max-width: 1020px; margin: 0 auto;">
    <div id="page-12-central_img"  class="central-page"><img src="{{ app.request.schemeAndHttpHost ~ asset('bundles/mchcrm/img/mountainCove.png') }}"></div>
    <div id="page-12-central_tittle" class="central-page"><h2>REALTOR-CLIENT REGISTRATION</h2></div>

    <div id="page-12-top_div">
        <div class="page-12-top_div"> <p><b>Community Name:</b> {{ contract.realPropInf.mchCommunity }} </p> </div>
        <div class="page-12-top_div"> <p><b>Lot/Block:</b> {{ contract.realPropInf.lot }}/{{ contract.realPropInf.block }}</p> </div>
        <div class="page-12-top_div"> <p><b>Sales Representative:</b> {{ contract.realPropInf.salesRep }} </p> </div>
    </div>

    <div id="page-12-central_div" style="margin-top: 80px;">
        <p>
            In order to qualify for a commission, you must register your client with this Registration Form and agree to the following provisions:
        </p>
        <p class="page-12-separate_p">
            Notwithstanding anything described herein, <u>Mountain Cove Homes at South Dade, LLC</u>, will honor your Agency by you, on behalf of
            your client, (“Agency”) for thirty (30) calendar days from the date your client registers in this Community
        </p>
        <p class="page-12-separate_p">
            The Agency will not be honored if your client has visited the model homes and has been registered in this Community with another
            Realtor and/or Broker within the preceding thirty (30) calendar days, nor will the Agency be honored if your client visited the
            Community by himself.
        </p>
        <p class="page-12-separate_p">
            <u>Mountain Cove Homes at South Dade, LLC</u> requires that you must accompany your client on their first visit and register him in the
            Community at that time. <u>Mountain Cove Homes at South Dade, LLC</u> will not honor an agency relationship or any purported
            relationship attempted to be created by you sending your client to the model homes, or the Community with instructions to tell
            <u>Mountain Cove Homes at South Dade, LLC</u> Sales Representative that your client is working with or being represented by you. Any
            attempt to effectuate any Agency relationship with your client for purposes of receiving a commission, without your actual presence
            shall be null and void and of no effect whatsoever.
        </p>
        <p class="page-12-separate_p">
            <u>Mountain Cove Homes at South Dade, LLC</u> pays a commission rate of (____ %) of the total selling price of the home, only if the
            home closes and the transaction is consummated. The sales commission will be mailed at the close of the home from the transaction
            closing agent to your broker’s address listed below. All sales commissions payable to your Broker arising out of this Agency should
            be provided to your Broker within seven (7) business days after the closing of the sale of the Property.
        </p>
        <p class="page-12-separate_p">
            With respect to your client, the number and gender of your client are not limited to the terms hereof and all references to the singular
            shall include the plural, all references to one gender shall include the other, and vice versa.
        </p>
        <p class="page-12-separate_p">
            Execution by you below of this Registration also constitutes your agreement to indemnify and hold harmless <u>Mountain Cove Homes
                at South Dade, LLC</u>, its affiliates and subsidiaries from and against any and all claims, changes, costs, fees, obligations, damages,
            liabilities, expenses and attorney fees incurred or sustained by <u>Mountain Cove Homes at South Dade, LLC</u> by virtue of actions, errors,
            omissions or mistakes of the undersigned Realtor/Broker, its company, or their agents, representatives or employees with respect to or
            in connection with this Agency or the sale transaction. Realtor/Broker and no other representative, covenants or agreements have been
            entered into or made by <u>Mountain Cove Homes at South Dade, LLC</u> with you.
        </p>
    </div>
    <div id="page-112-bottom-div" style="margin-top: 100px;">
        <div class="page-12-bottom_div"> <p><b>Client Name(s): __________________________________________________ </b></p> </div>
        <div class="page-12-bottom_div"> <p><b>Client Name(s): __________________________________________________ </b></p> </div>
        <div class="page-12-bottom_div"> <p><b>Realtor & Company Phone: {{ contract.brokerInformation.telephone }} </b></p> </div>
        <div class="page-12-bottom_div"> <p><b>Address: {{ contract.brokerInformation.address }} </b></p> </div>
        <div class="page-12-bottom_div"> <p><b>Realtor / Broker Signature: ______________________________ </b></p> </div>
        <div class="page-12-bottom_div"> <p><b>Date: ___________________ </b></p> </div>
    </div>
</div>
</body>
</html>

<div class="page-break"></div>