<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    {# <link rel="stylesheet" href="{{ app.request.schemeAndHttpHost ~ asset('bundles/mchcrm/css/pdfStyle.css') }}"> #}
</head>
<body>
<div id="page-21-maindiv" style="max-width: 1020px; margin: 0 auto;">
    <div id="page-21-central_img" class="central-page"><img src="{{ app.request.schemeAndHttpHost ~ asset('bundles/mchcrm/img/mountainCove.png') }}"></div>
    <div id="page-21-central_tittle" class="central-page"><h2>Receipt of Documents</h2></div>
    <div id="page-21-top_div">
        <p>
            The undersigned Purchaser(s) acknowledge receipt this date of the following documents:
        </p>
    </div>

    <div id="page-21-central_div">

        <div class="page-21-central_subdiv">
            <div class="page-21-central_subdiv_left"><p>I.</p></div>
            <div class="page-21-central_subdiv_right">
                <p>
                    The Purchase Agreement, together with the following related Addendums:
                </p>
            </div>
            <div class="page-21-central_subdiv2_right">
                <p>a) Community Addendum</p>

                <p>b) Notice to Homebuyer(s) of Seller’s Affiliation, if applicable, and Builder’s Referral Incentives &
                    Contributions</p>

                <p>c) Affiliated Business Arrangement Disclosure Statement (if applicable)</p>

                <p>d) Mortgage Application</p>

                <p>e) Certification of Insulation Installation</p>

                <p>f) Dwelling Warranty (provided thru Residential Warranty Corp. if applicable)</p>

                <p>g) Mountain Cove Homes at South Dade, LLC Homeowners Warranty and Information Manual</p>

                <p>h) Mold Disclosure, Disclaimer and Waiver</p>

                <p>i) FHA/VA Addendum</p>

                <p>j) ___________________________________________</p>

                <p>k) ___________________________________________</p>

                <p>l) ___________________________________________</p>

                <p>m) ___________________________________________</p>

                <p>n) ___________________________________________</p>

            </div>
        </div>

        <div class="page-21-central_subdiv">
            <div class="page-21-central_subdiv_left"><p>II.</p></div>
            <div class="page-21-central_subdiv_right">
                <p>
                    The Community Homeowner Association
                </p>
            </div>
            <div class="page-21-central_subdiv2_right">
                <p>a) Declaration of Covenants, Conditions and Restrictions</p>

                <p>b) Articles of Incorporation</p>

                <p>c) By-Laws</p>

                <p>d) Rules and Regulations</p>

                <p>e) Budget</p>
            </div>
        </div>

        <p style="margin-top: 100px"><b>
                The undersigned acknowledges that the Declaration is subject to change and that the Developer has
                reserved the right to make
                amendments to the Declaration.
            </b></p>


        <div id="page-21-bottom_div">
            <div id="page-21-bottom_div_2"><p><b>Purchaser: </b></p></div>
            <div id="page-21-bottom_div_3"><p><b>Seller:</b></p></div>
            <div style="margin-top: -10px">
                <div id="page-21-bottom_div_4"><p>___________________________________________</p></div>
                <div id="page-21-bottom_div_5"><p>___________________________________________</p></div>
            </div>

            <div>
                <div id="page-21-bottom_div_7"><p><b>Date:</b> _____________________________________</p></div>
                <div id="page-21-bottom_div_8"><p><b>Date:</b> _____________________________________</p></div>
            </div>

            <div id="page-21-bottom_div_9"><p><b>Purchaser: </b></p></div>
            <div id="page-21-bottom_div_10"><p>___________________________________________</p></div>
            <div id="page-21-bottom_div_11" style="margin-top: 40px"><p><b>Date:</b>
                    _____________________________________</p></div>
        </div>
    </div>
</div>
</body>
</html>

<div class="page-break"></div>