<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Mosaddek">
    <meta name="keyword" content="FlatLab, Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">
    <link rel="shortcut icon" href="{{ asset('bundles/mchcrm/img/favicon.png') }}">

    <title>Mountain Cove Homes CRM Login</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ asset('bundles/mchcrm/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/mchcrm/css/bootstrap-reset.css') }}" rel="stylesheet">
    <!--external css-->
    <link href="{{ asset('bundles/mchcrm/assets/font-awesome/css/font-awesome.css') }}" rel="stylesheet" />
    <!-- Custom styles for this template -->
    <link href="{{ asset('bundles/mchcrm/css/style.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/mchcrm/css/style-responsive.css') }}" rel="stylesheet" />

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 tooltipss and media queries -->
    <!--[if lt IE 9]>
    <script src="{{ asset('bundles/mchcrm/js/html5shiv.js') }}"></script>
    <script src="{{ asset('bundles/mchcrm/js/respond.min.js') }}"></script>
    <![endif]-->
</head>

<body class="login-body">

<div class="container">

    {% if error %}
        <br>
        <div class="alert alert-danger alert-dismissable">
            <i class="fa fa-ban"></i>
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            {{ error.message|trans }}
        </div>
    {% endif %}

    <form class="form-signin" action="{{ path('login_check') }}" method="post">
        <h2 class="form-signin-heading">Mountain Cove Homes | CRM</h2>
        <div class="login-wrap">
            <input name="_username" value="{{ last_username }}" type="text" class="form-control" placeholder="Email" autofocus>
            <input type="password" class="form-control" placeholder="Password" name="_password">
            <label class="checkbox">
                {# <input type="checkbox" value="remember-me" id="_remember_me" name="_remember_me"> Remember me #}
                {# <span class="pull-right">
                    <a data-toggle="modal" href="#myModal"> Forgot Password?</a>

                </span> #}
            </label>
            <button class="btn btn-lg btn-login btn-block" type="submit">Login</button>

        </div>

        <!-- Modal -->
        <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="myModal" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Forgot Password ?</h4>
                    </div>
                    <div class="modal-body">
                        <p>Enter your e-mail address below to reset your password.</p>
                        <input type="text" name="email" placeholder="Email" autocomplete="off" class="form-control placeholder-no-fix">

                    </div>
                    <div class="modal-footer">
                        <button data-dismiss="modal" class="btn btn-default" type="button">Cancel</button>
                        <button class="btn btn-success" type="button">Submit</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- modal -->

    </form>

</div>



<!-- js placed at the end of the document so the pages load faster -->
<script src="{{ asset('bundles/mchcrm/js/jquery.js') }}"></script>
<script src="{{ asset('bundles/mchcrm/js/bootstrap.min.js') }}"></script>


</body>
</html>